.test {
  position: relative;
  left: calc(99.9% * 1 / 2 - (60px - 60px * 1 / 2) + 60px);
}
.test {
  position: relative;
  left: calc(99.9% * 1 / 2 - (60px - 60px * 1 / 2) + 60px);
}
.test {
  position: relative;
  left: calc(99.9% * 1 / 2 - (60px - 60px * 1 / 2) + 60px);
}
.test {
  position: relative;
  left: calc(99.9% * 1 / 2 - (60px - 60px * 1 / 2) + 60px);
}
