//flex
.test
  ctr({
    grid: {
      move: {
        fraction: '-1/3'
      }
    }
  })

ctr('.test', {
  grid: {
    move: {
      fraction: '-1/3'
    }
  }
})


.test
  ctr({
    grid: {
      move: '-1/3'
    }
  })

ctr('.test', {
  grid: {
    move: '-1/3'
  }
})
