.test
  ctr({
    width: 200px
    'comp-span': {
      font-size: 10px
      matrix: {
        translate: 100 200
      }
    }
  })



ctr('.test', {
  width: 200px
  'comp-span': {
    font-size: 10px
    matrix: {
      translate: 100 200
    }
  }
})
