.test {
  width: 200px;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .test {
    font-size: 20px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 200, 0, 1);
  }
}
.test {
  width: 200px;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .test {
    font-size: 20px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 200, 0, 1);
  }
}
