.test
  ctr({
    width: 200px
    media: {
      'lg': {
        font-size: 20px
        matrix: {
          translate: 100 200
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'lg': {
      font-size: 20px
      matrix: {
        translate: 100 200
      }
    }
  }
})
