.test
  ctr({
    width: 200px
    non: {
      key: '.today'
      font-size: 10px
      matrix: {
        translate: 100 200
      }
    }
  })


ctr('.test', {
  width: 200px
  non: {
    key: '.today'
    font-size: 10px
    matrix: {
      translate: 100 200
    }
  }
})
