.test
  ctr({
    width: 200px
    transition: {
      background: black
      matrix: {
        translate: 100 200
      }
    }
  })


ctr('.test', {
  width: 200px
  transition: {
    background: black
    matrix: {
      translate: 100 200
    }
  }
})
