.test
  ctr({
    width: 200px
    transition: {
      height: 200px

      first-child: {
        background: black
      }
    }
  })


ctr('.test', {
  width: 200px
  transition: {
    height: 200px

    first-child: {
      background: black
    }
  }
})