.test
  ctr({
    width: 200px
    transition: {
      height: 200px

      non: {
        key: '.atmosphere'
        background: black
      }
    }
  })


ctr('.test', {
  width: 200px
  transition: {
    height: 200px

    non: {
      key: '.atmosphere'
      background: black
    }
  }
})