.test
  ctr({
    width: 200px
    transition: {
      height: 200px

      hover: {
        on: {
          width: 100px
        }
        non: {
          width: 50px
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  transition: {
    height: 200px

    hover: {
      on: {
        width: 100px
      }
      non: {
        width: 50px
      }
    }
  }
})