
.test
  ctr({
    width: 200px
    transform: {
      translateX: 10px
    }
  })


ctr('.test', {
  width: 200px
  transform: {
    translateX: 10px
  }
})


.test
  ctr({
    width: 200px
    transform: {
      translateX: 10px
      translateY: 20px
      scaleX: 90deg
    }
  })


ctr('.test', {
  width: 200px
  transform: {
    translateX: 10px
    translateY: 20px
    scaleX: 90deg
  }
})
