.test
  ctr({
    width: 200px
    component: {
      '.aClass': {
        font-size: 10px

        'attr-[data-role="test"]': {
          font-size: 10px
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  component: {
    '.aClass': {
      font-size: 10px

      'attr-[data-role="test"]': {
        font-size: 10px
      }
    }
  }
})

