.test {
  width: 200px;
}
.test > .aClass {
  font-size: 10px;
}
.test > .aClass[data-role="test"] {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test > .aClass {
  font-size: 10px;
}
.test > .aClass[data-role="test"] {
  font-size: 10px;
}
