.test
  ctr({
    width: 200px
    component: {
      '.aClass': {
        font-size: 10px

        before: {
          content: 'test'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  component: {
    '.aClass': {
      font-size: 10px

      before: {
        content: 'test'
      }
    }
  }
})
