.test
  ctr({
    width: 200px
    component: {
      '.aClass': {
        font-size: 10px

        grid: {
          column: '1/2'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  component: {
    '.aClass': {
      font-size: 10px

      grid: {
        column: '1/2'
      }
    }
  }
})
