.test
  ctr({
    width: 200px
    component: {
      '.aClass': {
        font-size: 10px

        transition: {
          background: black
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  component: {
    '.aClass': {
      font-size: 10px

      transition: {
        background: black
      }
    }
  }
})
