.test
  ctr({
    width: 200px
    hover: {
      common: {
        font-size: 20px
        option: {
          ease: tedious
          delay: 420s
          duration: 10s
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    common: {
      font-size: 20px
      option: {
        ease: tedious
        delay: 420s
        duration: 10s
      }
    }
  }
})
