.test {
  width: 200px;
}
.test:hover {
  font-size: 30px;
  transition-delay: 420s;
  transition-duration: 10s;
  transition-property: font-size;
  transition-timing-function: tedious;
}
.test:not(:hover) {
  font-size: 20px;
  transition-delay: 22s;
  transition-duration: 210s;
  transition-property: font-size;
  transition-timing-function: funky-town;
}
.test {
  width: 200px;
}
.test:hover {
  font-size: 30px;
  transition-delay: 420s;
  transition-duration: 10s;
  transition-property: font-size;
  transition-timing-function: tedious;
}
.test:not(:hover) {
  font-size: 20px;
  transition-delay: 22s;
  transition-duration: 210s;
  transition-property: font-size;
  transition-timing-function: funky-town;
}
