.test
  ctr({
    width: 200px
    hover: {
      common: {
        option: {
          ease: tedious
          delay: 420s
          duration: 10s
        }
      }
      on: {
        font-size: 20px
        //override
        option: {
          ease: funky-town
        }
      }
      non: {
        font-size: 10px
        //override
        option: {
          delay: 22s
          duration: 1s
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    common: {
      option: {
        ease: tedious
        delay: 420s
        duration: 10s
      }
    }
    on: {
      font-size: 20px
      //override
      option: {
        ease: funky-town
      }
    }
    non: {
      font-size: 10px
      //override
      option: {
        delay: 22s
        duration: 1s
      }
    }
  }
})
