.test
  ctr({
    option: {
      type: {
        rootSize: 18px
        letterSpacing: {
          minSize: 1em
          maxSize: 3em
          minWidth: 300px
          maxWidth: 900px
        }
      }
    }
    width: 200px
    letter-spacing: responsive
    'comp-span': {
      letter-spacing: responsive
    }
  })

ctr('.test', {
  option: {
    type: {
      rootSize: 18px
      letterSpacing: {
        minSize: 1em
        maxSize: 3em
        minWidth: 300px
        maxWidth: 900px
      }
    }
  }
  width: 200px
  letter-spacing: responsive
  'comp-span': {
    letter-spacing: responsive
  }
})