.test > .one {
  width: 200px;
  height: 400px;
  color: #ffc0cb;
  font-size: 20px;
}
.test > .two {
  width: 200px;
  height: 400px;
  color: #800080;
  font-size: 20px;
}
.test > .one {
  width: 200px;
  height: 400px;
  color: #ffc0cb;
  font-size: 20px;
}
.test > .two {
  width: 200px;
  height: 400px;
  color: #800080;
  font-size: 20px;
}
