

//invalid no set vars
//since there is no set vars yet
//ctr will not check the vars thus
//it will not throw a warning and the
//val will not be $var-not-found$
//it will just be the strings above
ctr('.test-1', {
  // SYNTAX_YAML
  width: 200px
  height: '$height$'
  color: '$color$'
  top: '$top$'
})

//set init
ctrSetVariable({
  // SYNTAX_YAML
  height: 50px
  top: 100
  color: red
})

//should pick up above vars
ctr('.test-2', {
  // SYNTAX_YAML
  width: 200px
  height: '$height$'
  color: '$color$'
  top: '$top$'
})


