//invalid no set vars
//since there is no set vars yet
//ctr will not check the vars thus
//it will not throw a warning and the
//val will not be $var-not-found$
//it will just be the strings above
ctr('.test-1', {
  width: '200px'
  height: '$height$'
  color: '$color$'
  top: '$top$'
})


ctrSetVariable({
  height: '200px'
})

//height -> vars not found
ctr('.test-2', {
  width: '200px'
  height: '$height$'
  color: '$color$'
  top: '$top$'
})

ctrSetVariable({
  color: 'red'
})

//color -> vars not found
ctr('.test-3', {
  width: '200px'
  height: '$height$'
  color: '$color$'
  top: '$top$'
})

ctrSetVariable({
  top: 50
})

//alll
ctr('.test-4', {
  width: '200px'
  height: '$height$'
  color: '$color$'
  top: '$top$'
})
