.test-1 {
  top: $top$;
  width: 200px;
  color: $color$;
  height: $height$;
}
.test-2 {
  top: 100;
  color: #f00;
  height: 50px;
  width: 200px;
}
.test-3 {
  top: 100;
  color: #f00;
  height: 50px;
  width: 200px;
}
.test-4 {
  top: 200;
  color: #00f;
  width: 200px;
  height: 150px;
}
