$base = {
  width: 200px
  height: '$height$'
  color: '$color$'
  top: '$top$'
}


//invalid no set vars
//since there is no set vars yet
//ctr will not check the vars thus
//it will not throw a warning and the
//val will not be $var-not-found$
//it will just be the strings above
ctr('.test-1', $base)

//set init
ctrSetVariable({
  height: 50px
  top: 100
  color: red
})

//should pick up above vars
ctr('.test-2', $base)

//not trump === test-2
ctrSetVariable({
  height: 150px
  top: 200
  color: blue
})

ctr('.test-3', $base)

//trump
ctrSetVariable({
  height: 150px
  top: 200
  color: blue
}, {
  overwrite: true
})


ctr('.test-4', $base)


