.test {
  width: 200px;
}
.test:not(:hover) {
  height: 200px;
  font-size: 20px;
  transition-delay: 0s, 0s;
  will-change: font-size, height;
  transition-duration: 0.5s, 0.5s;
  transition-property: font-size, height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  width: 200px;
}
.test:not(:hover) {
  height: 200px;
  font-size: 20px;
  transition-delay: 0s, 0s;
  will-change: font-size, height;
  transition-duration: 0.5s, 0.5s;
  transition-property: font-size, height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
