.test
  ctr({
    width: 200px
    'attr-[data-role="test"]': {
      font-size: 'responsive' 10px 50px
      line-height: 'responsive'
    }
  })


ctr('.test', {
  width: 200px
  'attr-[data-role="test"]': {
    font-size: 'responsive' 10px 50px
    line-height: 'responsive'
  }
})
