.test {
  width: 200px;
}
.test > span {
  font-size: calc(10px + 40 * ((100vw - 400px) / 1400));
  line-height: calc(1rem + 1 * ((100vw - 25rem) / 87.5));
}
@media only screen and (max-width: 400px) {
  .test > span {
    font-size: 10px;
    line-height: 1rem;
  }
}
@media only screen and (min-width: 1800px) {
  .test > span {
    font-size: 50px;
    line-height: 2rem;
  }
}
.test {
  width: 200px;
}
.test > span {
  font-size: calc(10px + 40 * ((100vw - 400px) / 1400));
  line-height: calc(1rem + 1 * ((100vw - 25rem) / 87.5));
}
@media only screen and (max-width: 400px) {
  .test > span {
    font-size: 10px;
    line-height: 1rem;
  }
}
@media only screen and (min-width: 1800px) {
  .test > span {
    font-size: 50px;
    line-height: 2rem;
  }
}
