# project
lib/
__temp__/
___temp___/
testBin/*
__tests__/
.github/
gulpfile.js/
wercker.yml
.babelrc
.bumpedrc
.cz-config.js
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.iron-node.js
.nvmrc
.tern-project
.zappr.yaml
CONTRIBUTING.md


# Global
*~
# KDE directory preferences
.directory
# Linux trash folder which might appear on any partition or disk
.Trash-*
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
# workspace files are user-specific
*.sublime-workspace
# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project
# sftp configuration file
sftp-config.json
# Logs
logs
*.log
npm-debug.log*
# Packages
node_modules/
bower_components/
# Misc
.DS_Store
.public
.publish
.directory
.temp
public
private
_private
.private
Desktop.ini
app/assets/stylesheets/generated
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
tmp
