.test
  ctr({
    customAnimations: {
      one: {
        name: 'tlOne'
        timeline: {
          '50': {
            background: green
          }
        }
      }
      tlTwo: {
        timeline: {
          '50': {
            color: green
          }
        }
      }
    }
  })



ctr('.test', {
  customAnimationsHello: {
    one: {
      name: 'tlOne'
      timeline: {
        '50': {
          background: green
        }
      }
    }
    tlTwo: {
      timeline: {
        '50': {
          color: green
        }
      }
    }
  }
})


.test
  ctr({
    customAnims: {
      one: {
        name: 'tlOne'
        timeline: {
          '50': {
            background: green
          }
        }
      }
      tlTwo: {
        timeline: {
          '50': {
            color: green
          }
        }
      }
    }
  })



ctr('.test', {
  customAnimsEllo: {
    one: {
      name: 'tlOne'
      timeline: {
        '50': {
          background: green
        }
      }
    }
    tlTwo: {
      timeline: {
        '50': {
          color: green
        }
      }
    }
  }
})
