.test {
  animation-delay: 0s, 0s, 0.5s;
  animation-duration: 1s, 1s, 2s;
  animation-iteration-count: 10, 1, 1;
  animation-name: tlOne, tlTwo, tlThree;
  animation-fill-mode: none, none, none;
  animation-direction: normal, normal, normal;
  animation-play-state: running, paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  animation-delay: 0s, 0s, 0.5s;
  animation-duration: 1s, 1s, 2s;
  animation-iteration-count: 10, 1, 1;
  animation-name: tlOne, tlTwo, tlThree;
  animation-fill-mode: none, none, none;
  animation-direction: normal, normal, normal;
  animation-play-state: running, paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  animation-delay: 0s, 0s, 0.5s;
  animation-duration: 1s, 1s, 2s;
  animation-iteration-count: 10, 1, 1;
  animation-name: tlOne, tlTwo, tlThree;
  animation-fill-mode: none, none, none;
  animation-direction: normal, normal, normal;
  animation-play-state: running, paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  animation-delay: 0s, 0s, 0.5s;
  animation-duration: 1s, 1s, 2s;
  animation-iteration-count: 10, 1, 1;
  animation-name: tlOne, tlTwo, tlThree;
  animation-fill-mode: none, none, none;
  animation-direction: normal, normal, normal;
  animation-play-state: running, paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  animation-delay: 0s, 0s, 0.5s;
  animation-duration: 1s, 1s, 2s;
  animation-iteration-count: 10, 1, 1;
  animation-name: tlOne, tlTwo, tlThree;
  animation-fill-mode: none, none, none;
  animation-direction: normal, normal, normal;
  animation-play-state: running, paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  animation-delay: 0s, 0s, 0.5s;
  animation-duration: 1s, 1s, 2s;
  animation-iteration-count: 10, 1, 1;
  animation-name: tlOne, tlTwo, tlThree;
  animation-fill-mode: none, none, none;
  animation-direction: normal, normal, normal;
  animation-play-state: running, paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), ease-in, cubic-bezier(0.42, 0, 0.58, 1);
}
