.test
  ctr({
    width: 200px
    state-visited: {
      on: {
        height: 300px
      }
      non: {
        height: 200px
      }
    }
  })

ctr('.test', {
  width: 200px
  state-visited: {
    on: {
      height: 300px
    }
    non: {
      height: 200px
    }
  }
})
