.test {
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 60px;
  height: calc(99.9% * 2 / 6 - (60px - 60px * 2 / 6));
}
.test:last-child {
  margin-bottom: 0;
}
.test {
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 60px;
  height: calc(99.9% * 2 / 6 - (60px - 60px * 2 / 6));
}
.test:last-child {
  margin-bottom: 0;
}
.test {
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 60px;
  height: calc(99.9% * 2 / 6 - (60px - 60px * 2 / 6));
}
.test:last-child {
  margin-bottom: 0;
}
.test {
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 60px;
  height: calc(99.9% * 2 / 6 - (60px - 60px * 2 / 6));
}
.test:last-child {
  margin-bottom: 0;
}
