.test
  ctr({
    grid: {
      row: {
        fraction: '2/6'
        gutter: default
        flex: default
      }
    }
  })

ctr('.test', {
  grid: {
    row: {
      fraction: '2/6'
      gutter: default
      flex: default
    }
  }
})

