.test {
  width: 200px;
}
.test:first-child {
  content: "test";
}
.test:first-child[data-role="test"] {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test:first-child {
  content: "test";
}
.test:first-child[data-role="test"] {
  font-size: 10px;
}
