.test {
  width: 200px;
}
.test:first-child {
  width: 300px;
}
.test:first-child > span {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test:first-child {
  width: 300px;
}
.test:first-child > span {
  font-size: 10px;
}
