.test
  ctr({
    width: 200px
    before: {
      content: 'test'
      grid: {
        column: '1/2'
      }
    }
  })


ctr('.test', {
  width: 200px
  before: {
    content: 'test'
    grid: {
      column: '1/2'
    }
  }
})
