.test
  ctr({
    width: 200px
    before: {
      content: 'test'
      hover: {
        on: {
          font-size: 20px
        }
        non: {
          font-size: 20px
        }
      }
    }
    first-child: {
      color: red
      hover: {
        on: {
          font-size: 20px
        }
        non: {
          font-size: 20px
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  before: {
    content: 'test'
    hover: {
      on: {
        font-size: 20px
      }
      non: {
        font-size: 20px
      }
    }
  }
  first-child: {
    color: red
    hover: {
      on: {
        font-size: 20px
      }
      non: {
        font-size: 20px
      }
    }
  }
})
