.test
  ctr({
    width: 200px
    first-child: {
      content: 'test'
      
      transition: {
        background: black
      }
    }
  })


ctr('.test', {
  width: 200px
  first-child: {
    content: 'test'
    
    transition: {
      background: black
    }
  }
})
