//!important!, there's a code conflict
//in the lost library as to what the gutter
//and fraction actually define

.test
  ctr({
    grid: {
      masonry-column: {
        gutter: 60px
        //default === true
        // flex: true
      }
    }
  })

ctr('.test', {
  grid: {
    masonry-column: {
      gutter: 60px
      //default === true
      // flex: true
    }
  }
})

.test
  ctr({
    grid: {
      masonry-column: default 60px true
    }
  })


ctr('.test', {
  grid: {
    masonry-column: default 60px true
  }
})
