.test {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(99.9% * 1 / 3 - 30px);
}
.test {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(99.9% * 1 / 3 - 30px);
}
.test {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(99.9% * 1 / 3 - 30px);
}
.test {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(99.9% * 1 / 3 - 30px);
}
