//!important!, there's a code conflict
//in the lost library as to what the gutter
//and fraction actually define
.test
  ctr({
    grid: {
      masonry-column: {
        fraction: '1/3'
      }
    }
  })


ctr('.test', {
  grid: {
    masonry-column: {
      fraction: '1/3'
    }
  }
})


.test
  ctr({
    grid: {
      masonry-column: '1/3'
    }
  })


ctr('.test', {
  grid: {
    masonry-column: '1/3'
  }
})
