.test {
  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 30px;
  width: calc(99.9% * 1 / 1 - 60px);
}
.test {
  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 30px;
  width: calc(99.9% * 1 / 1 - 60px);
}
.test {
  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 30px;
  width: calc(99.9% * 1 / 1 - 60px);
}
.test {
  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 30px;
  width: calc(99.9% * 1 / 1 - 60px);
}
