.test
  ctr({
    height: 200px
    medias: {
      //added to all
      common: {
        background: green
        query: {
          type: 'screen'
        }
      }
      xs: {
        width: 100px
      }
      md: {
        width: 200px
      }
      hd: {
        width: 300px
      }
      custom: {
        width: 400px
        query: {
          at: 'hd'
          min-height: 200px
        }
      }
    }
  })

ctr('.test', {
  height: 200px
  medias: {
    //added to all
    common: {
      background: green
      query: {
        type: 'screen'
      }
    }
    xs: {
      width: 100px
    }
    md: {
      width: 200px
    }
    hd: {
      width: 300px
    }
    custom: {
      width: 400px
      query: {
        at: 'hd'
        min-height: 200px
      }
    }
  }
})



.test
  ctr({
    height: 200px
    medias: {
      //added to all
      global: {
        background: green
        query: {
          type: 'screen'
        }
      }
      xs: {
        width: 100px
      }
      md: {
        width: 200px
      }
      hd: {
        width: 300px
      }
      custom: {
        width: 400px
        query: {
          at: 'hd'
          min-height: 200px
        }
      }
    }
  })

ctr('.test', {
  height: 200px
  medias: {
    //added to all
    global: {
      background: green
      query: {
        type: 'screen'
      }
    }
    xs: {
      width: 100px
    }
    md: {
      width: 200px
    }
    hd: {
      width: 300px
    }
    custom: {
      width: 400px
      query: {
        at: 'hd'
        min-height: 200px
      }
    }
  }
})
