.test
  ctr({
    width: 200px
    comp: {
      'div': {
        attr: {
          background: teal
          option: {
            //without = and quotes
            key: 'class*'
            value: 'te'
          }
        }
      }
    }
  })

.test
  ctr({
    width: 200px
    comp: {
      'div': {
        attr: {
          background: teal
          option: {
            //with
            key: 'class*='
            value: '"te"'
          }
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  comp: {
    'div': {
      attr: {
        background: teal
        option: {
          //without = and quotes
          key: 'class*'
          value: 'te'
        }
      }
    }
  }
})


ctr('.test', {
  width: 200px
  comp: {
    'div': {
      attr: {
        background: teal
        option: {
          //with
          key: 'class*='
          value: '"te"'
        }
      }
    }
  }
})

