.test {
  width: 200px;
}
.test > div[class*="te"] {
  background: #008080;
}
.test {
  width: 200px;
}
.test > div[class*="te"] {
  background: #008080;
}
.test {
  width: 200px;
}
.test > div[class*="te"] {
  background: #008080;
}
.test {
  width: 200px;
}
.test > div[class*="te"] {
  background: #008080;
}
