.test
  ctr({
    width: 200px
    media: {
      'md': {
        width: 150px
        hover: {
          on: {
            static: {
              background: green
            }
          }
        }
      }
    }
  })
  

ctr('.test', {
  width: 200px
  media: {
    'md': {
      width: 150px
      hover: {
        on: {
          static: {
            background: green
          }
        }
      }
    }
  }
})
