.test {
  width: 20px;
  border-radius: 60%;
  border-width: 0.3333px;
  height: calc(100% - 20px);
}
.test {
  width: 20px;
  border-radius: 60%;
  border-width: 0.3333px;
  height: calc(100% - 20px);
}
