.test
  ctr({
    width: 200px
    'comp-span': {
      font-size: 1111px
      position: absolute 1111px 2222px
    }
  })



ctr('.test', {
  width: 200px
  'comp-span': {
    font-size: 1111px
    position: absolute 1111px 2222px
  }
})
