.test
  ctr({
    width: 200px
    media: {
      'lg': {
        font-size: 2222px
        position: absolute 1111px 2222px
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'lg': {
      font-size: 2222px
      position: absolute 1111px 2222px
    }
  }
})
