.test
  ctr({
    width: 200px
    hover: {
      on: {
        font-size: 2222px
        position: absolute 1111px 2222px
      }
      non: {
        font-size: 1111px
        position: absolute 40px 30px 2222px 1111px
      }
    }
  })


ctr('.test', {
  width: 200px
  hover: {
    on: {
      font-size: 2222px
      position: absolute 1111px 2222px
    }
    non: {
      font-size: 1111px
      position: absolute 40px 30px 2222px 1111px
    }
  }
})
