.test {
  top: 1111px;
  left: 2222px;
  right: 2222px;
  bottom: 1111px;
  background: #000;
  position: absolute;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s;
  transition-property: top, bottom, right, left;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  top: 1111px;
  left: 2222px;
  right: 2222px;
  bottom: 1111px;
  background: #000;
  position: absolute;
  transition-delay: 0s, 0s, 0s, 0s;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s;
  transition-property: top, bottom, right, left;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
