.test
  ctr({
    background: black
    transition: {
      position: absolute 1111px 2222px
    }
  })


ctr('.test', {
  background: black
  transition: {
    position: absolute 1111px 2222px
  }
})
