.test
  ctr({
    height: 200px
    medias: {
      '-sm': {
        width: 100px
      }
      '-lg': {
        width: 300px
      }
    }
  })


ctr('.test', {
  height: 200px
  medias: {
    '-sm': {
      width: 100px
    }
    '-lg': {
      width: 300px
    }
  }
})
