.test
  ctr({
    height: 200px
    medias: {
      'xs-md': {
        width: 100px
      }
      'lg-hd': {
        width: 300px
      }
    }
  })


ctr('.test', {
  height: 200px
  medias: {
    'xs-md': {
      width: 100px
    }
    'lg-hd': {
      width: 300px
    }
  }
})
