.test
  ctr({
    width: 200px
    customState: {
      key: 'hover' 'active' 'link'
      common: {
        duration: 2s
      }
      on: {
        height: 200px
      }
      non: {
        height: 100px
      }
    }
  })

ctr('.test', {
  width: 200px
  customState: {
    key: 'hover' 'active' 'link'
    common: {
      duration: 2s
    }
    on: {
      height: 200px
    }
    non: {
      height: 100px
    }
  }
})