.test
  ctr({
    background: teal
    media: {
      background: red
      query: {
        andCond: {
          min-height: 200px
          max-height: 300px
        }
      }
    }
  })

.test
  ctr({
    background: teal
    media: {
      background: red
      query: {
        andCondition: {
          min-height: 200px
          max-height: 300px
        }
      }
    }
  })

ctr('.test', {
  background: teal
  media: {
    background: red
    query: {
      andCond: {
        min-height: 200px
        max-height: 300px
      }
    }
  }
})

ctr('.test', {
  background: teal
  media: {
    background: red
    query: {
      andCondition: {
        min-height: 200px
        max-height: 300px
      }
    }
  }
})