.test {
  background: #008080;
}
@media (min-height: 20vh), (min-height: 200px), (max-height: 30vh), (max-height: 300px) {
  .test {
    background: #f00;
  }
}
.test {
  background: #008080;
}
@media (min-height: 20vh), (min-height: 200px), (max-height: 30vh), (max-height: 300px) {
  .test {
    background: #f00;
  }
}
.test {
  background: #008080;
}
@media (min-height: 20vh), (min-height: 200px), (max-height: 30vh), (max-height: 300px) {
  .test {
    background: #f00;
  }
}
.test {
  background: #008080;
}
@media (min-height: 20vh), (min-height: 200px), (max-height: 30vh), (max-height: 300px) {
  .test {
    background: #f00;
  }
}
