//position: [type] [top] [right] [bottom] [left];

.test
  ctr({
    width: 200px
    //position: [type] [1] [1] [1] [1]
    position: absolute 10px
    top: 11px
    right: 22px
    bottom: 33px
    left: 44px
  })

.test
  ctr({
    width: 200px
    //position: [type] [1] [2] [1] [2]
    position: absolute 10px 20px
    top: 11px
    right: 22px
    bottom: 33px
    left: 44px
  })

.test
  ctr({
    width: 200px
    //position: [type] [1] [2] [3] [2]
    position: absolute 10px 20px 30px
    top: 11px
    right: 22px
    bottom: 33px
    left: 44px
  })

.test
  ctr({
    width: 200px
    //position: [type] [1] [2] [3] [4]
    position: absolute 10px 20px 30px 40px
    top: 11px
    right: 22px
    bottom: 33px
    left: 44px
  })


ctr('.test', {
  width: 200px
  //position: [type] [1] [1] [1] [1]
  position: absolute 10px
  top: 11px
  right: 22px
  bottom: 33px
  left: 44px
})

ctr('.test', {
  width: 200px
  //position: [type] [1] [2] [1] [2]
  position: absolute 10px 20px
  top: 11px
  right: 22px
  bottom: 33px
  left: 44px
})

ctr('.test', {
  width: 200px
  //position: [type] [1] [2] [3] [2]
  position: absolute 10px 20px 30px
  top: 11px
  right: 22px
  bottom: 33px
  left: 44px
})

ctr('.test', {
  width: 200px
  //position: [type] [1] [2] [3] [4]
  position: absolute 10px 20px 30px 40px
  top: 11px
  right: 22px
  bottom: 33px
  left: 44px
})



