.test
  ctr({
    animations: {
      one: {
        option: {
          state: running
          count: 10
        }
        timeline: 'tlOne'
      }
      tlTwo: {
        option: {
          ease: ease-in
        }
        timeline: 'tlTwo'
      }
      tlThree: {
        option: {
          duration: 2s
          delay: 0.5s
        }
        timeline: 'tlThree'
      }
      common: {
        option: {
          state: paused
          duration: 1s
        }
      }
    }
  })


ctr('.test', {
  animations: {
    one: {
      option: {
        state: running
        count: 10
      }
      timeline: 'tlOne'
    }
    tlTwo: {
      option: {
        ease: ease-in
      }
      timeline: 'tlTwo'
    }
    tlThree: {
      option: {
        duration: 2s
        delay: 0.5s
      }
      timeline: 'tlThree'
    }
    common: {
      option: {
        state: paused
        duration: 1s
      }
    }
  }
})


//key global
.test
  ctr({
    anim: {
      one: {
        option: {
          state: running
          count: 10
        }
        timeline: 'tlOne'
      }
      tlTwo: {
        option: {
          ease: ease-in
        }
        timeline: 'tlTwo'
      }
      tlThree: {
        option: {
          duration: 2s
          delay: 0.5s
        }
        timeline: 'tlThree'
      }
      global: {
        option: {
          state: paused
          duration: 1s
        }
      }
    }
  })


ctr('.test', {
  anim: {
    one: {
      option: {
        state: running
        count: 10
      }
      timeline: 'tlOne'
    }
    tlTwo: {
      option: {
        ease: ease-in
      }
      timeline: 'tlTwo'
    }
    tlThree: {
      option: {
        duration: 2s
        delay: 0.5s
      }
      timeline: 'tlThree'
    }
    global: {
      option: {
        state: paused
        duration: 1s
      }
    }
  }
})