.test {
  width: 200px;
  animation-delay: 0s, 0s;
  animation-duration: 2s, 2s;
  animation-name: tlOne, two;
  animation-fill-mode: none, none;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  animation-play-state: paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes tlOne {
  44% {
    opacity: 1;
  }
  50% {
    background: #008000;
  }
  66% {
    opacity: 0;
  }
}
@keyframes two {
  44% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
.test {
  width: 200px;
  animation-delay: 0s, 0s;
  animation-duration: 2s, 2s;
  animation-name: tlOne, two;
  animation-fill-mode: none, none;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  animation-play-state: paused, paused;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes tlOne {
  44% {
    opacity: 1;
  }
  50% {
    background: #008000;
  }
  66% {
    opacity: 0;
  }
}
@keyframes two {
  44% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
}
