.test {
  width: 200px;
}
.test:hover {
  height: 200px;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: height;
  transition-timing-function: 10s;
}
.test {
  width: 200px;
}
.test:hover {
  height: 200px;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: height;
  transition-timing-function: 10s;
}
