.test
  ctr({
    width: 200px
    trans: {
      background: green
      shorthand: {
        background: 1s
      }
    }
  })
  

ctr('.test', {
  width: 200px
  transition: {
    background: green
    shorthand: {
      background: 1s
    }
  }
})