.test
  ctr({
    width: 200px
    trans: {
      shorthand: {
        background: 1s
      }
    }
  })

  

ctr('.test', {
  width: 200px
  transition: {
    shorthand: {
      background: 1s
    }
  }
})