.test
  ctr({
    width: 200px
    element: {
      key: 'after'
      content: 'ctr'
      font-size: 10px
    }
  })



ctr('.test', {
  width: 200px
  element: {
    key: 'before'
    content: 'ctr'
    font-size: 10px
  }
})