.test
  ctr({
    width: 200px
    element: {
      key: 'before'
      content: '"[line: " attr(data-line) "]"'
    }
  })



ctr('.test', {
  width: 200px
  element: {
    key: 'before'
    content: '"[line: " attr(data-line) "]"'
  }
})