.test
  ctr({
    width: 200px
    hover: {
      non: {
        font-size: 20px
        option: {
          delay: 10s
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    non: {
      font-size: 20px
      option: {
        delay: 10s
      }
    }
  }
})
