.test
  ctr({
    width: 200px
    hover: {
      common: {
        delay: 10s
      }
      on: {
        font-size: 20px
        //override
        option: {
          delay: 1s
        }
      }
      non: {
        font-size: 10px
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    common: {
      delay: 10s
    }
    on: {
      font-size: 20px
      //override
      option: {
        delay: 1s
      }
    }
    non: {
      font-size: 10px
    }
  }
})
