// placeholder
.test
  ctr({
    $$: {
      element: {
        element: {
          key: '_' 'first-child'
        }
      }
    }
    width: 200px
    merge: '$element$'
    element: {
      key: '_' 'after'
      width: '200px'
    }
  })


ctr('.test', {
  $$: {
    element: {
      element: {
        key: '_' 'first-child'
      }
    }
  }
  width: 200px
  merge: '$element$'
  element: {
    key: '_' 'after'
    width: '200px'
  }
})

//array array
.test
  ctr({
    $$: {
      element: {
        element: {
          key: 'first-child' 'last-child'
        }
      }
    }
    width: 200px
    merge: '$element$'
    element: {
      key: 'after' 'before'
      width: '200px'
    }
  })


ctr('.test', {
  $$: {
    element: {
      element: {
        key: 'first-child' 'last-child'
      }
    }
  }
  width: 200px
  merge: '$element$'
  element: {
    key: 'after' 'before'
    width: '200px'
  }
})


// // string string
// .test
//   ctr({
//     $$: {
//       element: {
//         element: {
//           key: 'first-child'
//         }
//       }
//     }
//     width: 200px
//     merge: '$element$'
//     element: {
//       key: 'after'
//       width: '200px'
//     }
//   })


// ctr('.test', {
//   $$: {
//     element: {
//       element: {
//         key: 'first-child'
//       }
//     }
//   }
//   width: 200px
//   merge: '$element$'
//   element: {
//     key: 'after'
//     width: '200px'
//   }
// })



// // string - array
// .test
//   ctr({
//     $$: {
//       element: {
//         element: {
//           key: 'first-child'
//         }
//       }
//     }
//     width: 200px
//     merge: '$element$'
//     element: {
//       key: 'after' 'before'
//       width: '200px'
//     }
//   })


// ctr('.test', {
//   $$: {
//     element: {
//       element: {
//         key: 'first-child'
//       }
//     }
//   }
//   width: 200px
//   merge: '$element$'
//   element: {
//     key: 'after' 'before'
//     width: '200px'
//   }
// })


// // array - string
// .test
//   ctr({
//     $$: {
//       element: {
//         element: {
//           key: 'before' 'first-child'
//         }
//       }
//     }
//     width: 200px
//     merge: '$element$'
//     element: {
//       key: 'after'
//       width: '200px'
//     }
//   })


// ctr('.test', {
//   $$: {
//     element: {
//       element: {
//         key: 'before' 'first-child'
//       }
//     }
//   }
//   width: 200px
//   merge: '$element$'
//   element: {
//     key: 'after'
//     width: '200px'
//   }
// })

