.test
  ctr({
    $$: {
      obj: {
        background: green
        font-size: 10px
      }
      obj2: {
        hover: {
          on: {
            height: 200px
          }
        }
      }
    }
    width: 200px
    merge: [$obj$, $obj2$]
    comp: {
      '.artisin': {
        merge: $obj2$
      }
    }
  })



ctr('.test', {
  $$: {
    obj: {
      background: green
      font-size: 10px
    }
    obj2: {
      hover: {
        on: {
          height: 200px
        }
      }
    }
  }
  width: 200px
  merge: [$obj$, $obj2$]
  comp: {
    '.artisin': {
      merge: $obj2$
    }
  }
})