//yml start
ctr:::setOption: {
  media: {
    //default === 600px
    sm: 200px
  }
}
//yml end

.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        max-width: 'sm'
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      max-width: 'sm'
    }
  }
})
