.test {
  width: 200px;
}
@media (max-width: 600px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (max-width: 1050px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (max-width: 1800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (max-width: 600px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (max-width: 1050px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (max-width: 1800px) {
  .test {
    width: 100px;
  }
}
