.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        max-width: 'sm'
      }
    }
  })

.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        max-width: 'md'
      }
    }
  })

.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        max-width: 'lg'
      }
    }
  })

.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        max-width: 'hd'
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      max-width: 'sm'
    }
  }
})


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      max-width: 'md'
    }
  }
})


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      max-width: 'lg'
    }
  }
})


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      max-width: 'hd'
    }
  }
})
