//yml start
ctr:::setOption: {
  global: {
    sort: '-len'
  }
  hover: {
    duration: 2s
  }
  active: {
    delay: 100s
  }
}
//yml end

.test
  ctr({
    width: 200px
    hover: {
      background: green
    }
    active: {
      color: red
    }
  })


ctr('.test', {
  width: 200px
  hover: {
    background: green
  }
  active: {
    color: red
  }
})
