.test {
  width: 111px;
}
.test > div {
  width: 222px;
}
.test:hover {
  color: #f00;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test > div > p {
  width: 333px;
}
@media (max-width: 600px) {
  .test {
    width: 11px;
  }
}
@media (max-width: 800px) {
  .test {
    width: 22px;
  }
}
@media (max-width: 1050px) {
  .test > div > p {
    width: 444px;
  }
}
@media (max-width: 600px) {
  .test::before {
    content: "cool";
  }
}
.test {
  width: 111px;
}
.test > div {
  width: 222px;
}
.test:hover {
  color: #f00;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test > div > p {
  width: 333px;
}
@media (max-width: 600px) {
  .test {
    width: 11px;
  }
}
@media (max-width: 800px) {
  .test {
    width: 22px;
  }
}
@media (max-width: 1050px) {
  .test > div > p {
    width: 444px;
  }
}
@media (max-width: 600px) {
  .test::before {
    content: "cool";
  }
}
