.test {
  width: 200px;
}
.test:not(:nth-child(3)) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:not(:nth-child(3)) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:not(:nth-child(3)) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:not(:nth-child(3)) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:not(:nth-child(3)) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:not(:nth-child(3)) {
  height: 400px;
}
