.test
  ctr({
    width: 200px
    elm: {
      key: 'all-but-first-last(2)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'all-but-first-last(2)'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-all-but-first-last(2)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-all-but-first-last(2)
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    elm: {
      key: allButFirstLast(2)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: allButFirstLast(2)
    height: 400px
  }
})
