
.test
  ctr({
    width: 200px
    elm: {
      key: 'between(3, 6)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'between(3, 6)'
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    elm: {
      key: fm-between(3, 6)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-between(3, 6)
    height: 400px
  }
})
