.test {
  width: 200px;
}
.test:nth-child(3n) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(3n) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(3n) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(3n) {
  height: 400px;
}
