.test
  ctr({
    width: 200px
    elm: {
      key: 'each(3)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'each(3)'
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    elm: {
      key: fm-each(3)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-each(3)
    height: 400px
  }
})
