.test
  ctr({
    width: 200px
    elm: {
      key: 'even()'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'even()'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-even()
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-even()
    height: 400px
  }
})
