.test
  ctr({
    width: 200px
    elm: {
      key: 'first-last()'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'first-last()'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-first-last()
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-first-last()
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: 'firstLast()'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'firstLast()'
    height: 400px
  }
})
