
.test
  ctr({
    width: 200px
    elm: {
      key: 'first(1)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'first(1)'
    height: 400px
  }
})



.test
  ctr({
    width: 200px
    elm: {
      key: 'first(3)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'first(3)'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-first(1)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-first(1)
    height: 400px
  }
})



.test
  ctr({
    width: 200px
    elm: {
      key: fm-first(3)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-first(3)
    height: 400px
  }
})
