.test
  ctr({
    width: 200px
    elm: {
      key: 'first-of(10)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'first-of(10)'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-first-of(10)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-first-of(10)
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: 'firstOf(10)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'firstOf(10)'
    height: 400px
  }
})
