.test
  ctr({
    width: 200px
    elm: {
      key: 'from-first-last(2)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'from-first-last(2)'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-from-first-last(2)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-from-first-last(2)
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: 'fromFirstLast(2)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'fromFirstLast(2)'
    height: 400px
  }
})
