.test {
  width: 200px;
}
.test:nth-child(2) {
  height: 400px;
}
.test:nth-last-child(2) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(2) {
  height: 400px;
}
.test:nth-last-child(2) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(2) {
  height: 400px;
}
.test:nth-last-child(2) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(2) {
  height: 400px;
}
.test:nth-last-child(2) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(2) {
  height: 400px;
}
.test:nth-last-child(2) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(2) {
  height: 400px;
}
.test:nth-last-child(2) {
  height: 400px;
}
