.test {
  width: 200px;
}
.test:nth-of-type(10):nth-last-of-type(1) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-of-type(10):nth-last-of-type(1) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-of-type(10):nth-last-of-type(1) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-of-type(10):nth-last-of-type(1) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-of-type(10):nth-last-of-type(1) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-of-type(10):nth-last-of-type(1) {
  height: 400px;
}
