.test
  ctr({
    width: 200px
    elm: {
      key: 'last-of(10)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'last-of(10)'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-last-of(10)
      height: 400px
    }
  })


ctr('.test', {
  width: 200px
  elm: {
    key: fm-last-of(10)
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: 'lastOf(10)'
      height: 400px
    }
  })



ctr('.test', {
  width: 200px
  elm: {
    key: 'lastOf(10)'
    height: 400px
  }
})
