.test
  ctr({
    width: 200px
    elm: {
      key: 'middle(11)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'middle(11)'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-middle(11)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-middle(11)
    height: 400px
  }
})