.test
  ctr({
    width: 200px
    elm: {
      key: 'n-between(3, 10, 20)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'n-between(3, 10, 20)'
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    elm: {
      key: fm-n-between(3, 10, 20)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-n-between(3, 10, 20)
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    elm: {
      key: 'nBetween(3, 10, 20)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'nBetween(3, 10, 20)'
    height: 400px
  }
})
