.test
  ctr({
    width: 200px
    elm: {
      key: 'not-unique()'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'not-unique()'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-not-unique()
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-not-unique()
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: 'notUnique()'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'notUnique()'
    height: 400px
  }
})
