.test
  ctr({
    width: 200px
    elm: {
      key: 'odd-between(3, 13)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'odd-between(3, 13)'
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: fm-odd-between(3, 13)
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: fm-odd-between(3, 13)
    height: 400px
  }
})


.test
  ctr({
    width: 200px
    elm: {
      key: 'oddBetween(3, 13)'
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  elm: {
    key: 'oddBetween(3, 13)'
    height: 400px
  }
})
