.test {
  width: 200px;
}
.test:nth-child(odd) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(odd) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(odd) {
  height: 400px;
}
.test {
  width: 200px;
}
.test:nth-child(odd) {
  height: 400px;
}
