.test {
  width: 200px;
}
.test:hover {
  color: #f00;
  height: 400px;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: height, color;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  color: #00f;
  height: 200px;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: height, color;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
@media (min-width: 600px) and (max-width: 800px) {
  .test:hover {
    color: #f00;
    height: 300px;
    font-size: 20px;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-property: height, font-size, color;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .test:not(:hover) {
    color: #00f;
    height: 100px;
    font-size: 10px;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-property: height, font-size, color;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
}
.test {
  width: 200px;
}
.test:hover {
  color: #f00;
  height: 400px;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: height, color;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  color: #00f;
  height: 200px;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: height, color;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
@media (min-width: 600px) and (max-width: 800px) {
  .test:hover {
    color: #f00;
    height: 300px;
    font-size: 20px;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-property: height, font-size, color;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .test:not(:hover) {
    color: #00f;
    height: 100px;
    font-size: 10px;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-property: height, font-size, color;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
  }
}
