.test
  ctr({
    width: 200px
    focus-on: {
      height: 300px
      option: {
        duration: 0.25s
      }
    }
    focus-non: {
      height: 200px
      option: {
        duration: 0.25s
      }
    }
  })


ctr('.test', {
  width: 200px
  focus-on: {
    height: 300px
    option: {
      duration: 0.25s
    }
  }
  focus-non: {
    height: 200px
    option: {
      duration: 0.25s
    }
  }
})