.test {
  width: 200px;
}
.test:focus {
  height: 300px;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:focus) {
  height: 200px;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  width: 200px;
}
.test:focus {
  height: 300px;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:focus) {
  height: 200px;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
