.test {
  width: 200px;
}
.test:not(.today) {
  font-size: 10px;
}
.test:not(span) {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test:not(.today) {
  font-size: 10px;
}
.test:not(span) {
  font-size: 10px;
}
