.test
  ctr({
    width: 100px
    //latin not cus we fanzy
    non-p: {
      font-size: 10px
    }
  })

ctr('.test', {
  width: 100px
  //latin not cus we fanzy
  'non-.cool': {
    font-size: 10px
  }
})