//should overwrtie
ctrSetOption({
  hover: {
    delay: 100s
  }
})

//should have a duration of 10s, delay of 2s

.test-1
  ctr({
    width: '$width$'
    hover-on: {
      color: red
    }
  })


ctr('.test-2'{
  width: '$width$'
  hover-on: {
    color: red
  }
})

ctrReset();
