//should have a duration of 10s, delay of 2s, width of 222px

.test-1
  ctr({
    width: '$width$'
    hover-on: {
      color: red
    }
  })


ctr('.test-2'{
  width: '$width$'
  hover-on: {
    color: red
  }
})


ctrReset();