.test-1 {
  width: 200px;
}
.test-1:hover {
  color: #f00;
  transition-delay: 22s;
  transition-duration: 11s;
  transition-property: color;
  transition-timing-function: ease-in;
}
.test-2 {
  width: 200px;
}
.test-2:hover {
  color: #f00;
  transition-delay: 22s;
  transition-duration: 11s;
  transition-property: color;
  transition-timing-function: ease-in;
}