.test {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.test {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.test {
  position: relative;
}
.test > * {
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  position: relative;
}
.test > * {
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.test {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.test {
  position: relative;
}
.test > * {
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  position: relative;
}
.test > * {
  left: 0;
  bottom: 0;
  top: auto;
  right: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.test {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}