.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  display: initial;
  align-items: inherit;
  justify-content: inherit;
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
.test {
  position: static;
}
.test > * {
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: static;
  transform: translate(0, 0);
}
