.test {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.test {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.test {
  position: relative;
}
.test > * {
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  position: relative;
}
.test > * {
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.test {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.test {
  position: relative;
}
.test > * {
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  position: relative;
}
.test > * {
  top: 0;
  left: 50%;
  right: auto;
  bottom: auto;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.test {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}