.test
  ctr({
    width: 200px
    hover: {
      static: {
        background: green
      }
    }
  })
  

ctr('.test', {
  width: 200px
  hover: {
    static: {
      background: green
    }
  }
})
