.test
  ctr({
    width: 200px
    hover: {
      on: {
        height: 400px
        static: {
          //transition will not be generated
          background: green
        }
      }
    }
  })
  

ctr('.test', {
  width: 200px
  hover: {
    on: {
      height: 400px
      static: {
        //transition will not be generated
        background: green
      }
    }
  }
})
