.test
  ctr({
    width: 400px
    hover: {
      anim: {
        name: 'test'
        tl: {
          '50': {
            background: green
          }
        }
      }
    }
  })


ctr('.test', {
  width: 400px
  hover: {
    anim: {
      name: 'test'
      tl: {
        '50': {
          background: green
        }
      }
    }
  }
})

