.test {
  width: 400px;
}
.test:hover {
  font-size: 10px;
  animation-delay: 0s;
  animation-name: test;
  transition-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  transition-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  transition-property: font-size;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes test {
  50% {
    background: #008000;
  }
}
.test {
  width: 400px;
}
.test:hover {
  font-size: 10px;
  animation-delay: 0s;
  animation-name: test;
  transition-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  transition-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  transition-property: font-size;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes test {
  50% {
    background: #008000;
  }
}
