.test {
  width: 200px;
}
.test:not(.today) {
  height: 200px;
}
.test:not(.today) > span {
  background: #000;
}
.test {
  width: 200px;
}
.test:not(.today) {
  height: 200px;
}
.test:not(.today) > span {
  background: #000;
}
