.test
  ctr({
    width: 200px
    non: {
      key: '.today'
      height: 200px

      grid: {
        column: '1/3'
      }
    }
  })


ctr('.test', {
  width: 200px
  non: {
    key: '.today'
    height: 200px

    grid: {
      column: '1/3'
    }
  }
})