.test
  ctr({
    width: 200px
    non: {
      key: '.today'
      height: 200px

      media: {
        'md': {
          height: 300px
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  non: {
    key: '.today'
    height: 200px

    media: {
      'md': {
        height: 300px
      }
    }
  }
})