.test
  ctr({
    width: 200px
    non: {
      key: '.today'
      height: 200px

      transition: {
        background: black
      }
    }
  })


ctr('.test', {
  width: 200px
  non: {
    key: '.today'
    height: 200px

    transition: {
      background: black
    }
  }
})