.test
  ctr({
    width: 200px
    disabled: {
      common: {
        duration: 0.25s
      }
      on: {
        height: 300px
      }
      non: {
        height: 200px
      }
    }
  })


ctr('.test', {
  width: 200px
  disabled: {
    common: {
      duration: 0.25s
    }
    on: {
      height: 300px
    }
    non: {
      height: 200px
    }
  }
})