.test
  ctr({
    width: 200px
    elm-after: {
      content: 'test'
      font-size: 10px
    }
    elm-first-child: {
      font-size: 10px
    }
    'elm-nth-child(1)': {
      font-size: 10px
    }
    //override
    'elm-nth-child(2)': {
      option: {
        key: 'last-of-type'
      }
      font-size: 10px
    }
  })


ctr('.test', {
  width: 200px
  elm-after: {
    content: 'test'
    font-size: 10px
  }
  elm-first-child: {
    font-size: 10px
  }
  'elm-nth-child(1)': {
    font-size: 10px
  }
  //override
  'elm-nth-child(2)': {
    option: {
      key: 'last-of-type'
    }
    font-size: 10px
  }
})