.test {
  width: 200px;
}
.test::before {
  width: 100%;
  height: 100%;
  font-size: 20px;
  content: "ctr";
  position: absolute;
}
.test::after {
  width: 100%;
  height: 100%;
  font-size: 10px;
  content: "test";
  position: absolute;
}
.test:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
}
.test:nth-of-type(2) {
  width: 100%;
  height: 100%;
  position: absolute;
}
.test {
  width: 200px;
}
.test::before {
  width: 100%;
  height: 100%;
  font-size: 20px;
  content: "ctr";
  position: absolute;
}
.test::after {
  width: 100%;
  height: 100%;
  font-size: 10px;
  content: "test";
  position: absolute;
}
.test:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
}
.test:nth-of-type(2) {
  width: 100%;
  height: 100%;
  position: absolute;
}
