.test
  ctr({
    width: 200px
    comp: {
      li: {
        first-of-type: {
          font-size: 10px
        }
        last-of-type: {
          font-size: 10px
        }
        "nth-last-of-type(2)": {
          font-size: 10px
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  comp: {
    li: {
      first-of-type: {
        font-size: 10px
      }
      last-of-type: {
        font-size: 10px
      }
      "nth-last-of-type(2)": {
        font-size: 10px
      }
    }
  }
})