.test
  ctr({
    width: 200px
    link: {
      common: {
        option: {
          autoGen: true
        }
      }
      on: {
        font-size: 20px
      }
      non: {
        font-size: 10px
      }
    }
  })

ctr('.test', {
  width: 200px
  link: {
    common: {
      option: {
        autoGen: true
      }
    }
    on: {
      font-size: 20px
    }
    non: {
      font-size: 10px
    }
  }
})




.test
  ctr({
    width: 200px
    hover: {
      common: {
        option: {
          autoGen: false
        }
      }
      on: {
        font-size: 20px
      }
      non: {
        font-size: 10px
      }
    }
  })

ctr('.test', {
  width: 200px
  hover: {
    common: {
      option: {
        autoGen: false
      }
    }
    on: {
      font-size: 20px
    }
    non: {
      font-size: 10px
    }
  }
})
