.test
  ctr({
    width: 200px
    hover: {
      height: 300px
    }
  })
  

ctr('.test', {
  width: 200px
  hover: {
    height: 300px
  }
})


.test
  ctr({
    width: 200px
    active: {
      height: 300px
    }
  })
  

ctr('.test', {
  width: 200px
  active: {
    height: 300px
  }
})
