.test
  ctr({
    width: 200px
    state: {
      key: 'hover'
      color: red
    }
  })
  

ctr('.test', {
  width: 200px
  state: {
    key: 'hover'
    color: red
  }
})

.test
  ctr({
    width: 200px
    state: {
      key: 'link'
      color: red
    }
  })
  

ctr('.test', {
  width: 200px
  state: {
    key: 'link'
    color: red
  }
})


