.test {
  background: #000;
}
.test:hover {
  width: 200px;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  width: 100px;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}