.test {
  background: #000;
}
.test:hover {
  width: 200px;
  height: 200px;
  transition-delay: 0s, 0s;
  transition-duration: 2s, 2s;
  transition-property: width, height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  width: 100px;
  height: 100px;
  transition-delay: 0s, 0s;
  transition-duration: 1s, 1s;
  transition-property: width, height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}