.test
  ctr({
    anim: {
      name: 'test'
      timeline: {
        '0': {
          font-size: 1rem
        }
        '100%': {
          font-size: 1.2rem
        }
      }
    }
  })



ctr('.test', {
  anim: {
    name: 'test'
    timeline: {
      '0': {
        font-size: 1rem
      }
      '100%': {
        font-size: 1.2rem
      }
    }
  }
})