//yml start
$$: {
  timelineName: 'litVar'
  timelineDur: 3s
  timelineVar: {
    '50': {
      font-size: 10px
    }
  }
}
//yml end


.test
  ctr({
    anim: {
      option: {
        name: $timelineName$
        duration: $timelineDur$
      }
      timeline: $timelineVar$
    }
  })



ctr('.test', {
  anim: {
    option: {
      name: $timelineName$
      duration: $timelineDur$
    }
    timeline: $timelineVar$
  }
})