
ctr('.test-1', {
  size: 200px
  hover: {
    on: {
      width: 400px
    }
  }
})

ctrSetOption({
  hover: {
    duration: 10s
  }
})

ctr('.test-2', {
  size: 200px
  hover: {
    on: {
      width: 400px
    }
  }
})

ctrSetOption({
  hover: {
    delay: 20s
  }
})

ctr('.test-3', {
  size: 200px
  hover: {
    on: {
      width: 400px
    }
  }
})

ctrSetOption({
  hover: {
    ease: 'ease-out'
  }
})

//should at this point have all the optiosn
ctr('.test-4', {
  size: 200px
  hover: {
    on: {
      width: 400px
    }
  }
})


