$base = {
  size: 200px
  hover: {
    on: {
      width: 400px
    }
  }
}

//$base -> no optiosn
ctr('.test-1', $base)

ctrSetOption({
  hover: {
    duration: 10s
    delay: 10s
    ease: 'ease-out'
  }
})


//with options
ctr('.test-2', $base)

//should fail beucase opts are already defined
ctrSetOption({
  hover: {
    duration: 422s
    delay: 100s
    ease: 'ease-in'
  }
})

//should === .test-2
ctr('.test-3', $base)

//this time pass overwrite
ctrSetOption({
  hover: {
    duration: 422s
    delay: 100s
    ease: 'ease-in'
  }
}, {
  overwrite: true
})

//should now have new options
ctr('.test-4', $base)



