.test
  ctr({
    width: 200px
    anim: {
      option: {
        name: 'noGenProps'
        autoGen: false
      }
      tl: {
        '50': {
          background: green
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  anim: {
    option: {
      name: 'noGenProps'
      autoGen: false
    }
    tl: {
      '50': {
        background: green
      }
    }
  }
})