.test {
  width: 400px;
  animation-delay: 0s;
  animation-name: test;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-direction: reverse;
  animation-iteration-count: 5;
  animation-timing-function: ease-in;
}
@keyframes test {
  50% {
    background: #008080;
  }
}
.test {
  width: 400px;
  animation-delay: 0s;
  animation-name: test;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-direction: reverse;
  animation-iteration-count: 5;
  animation-timing-function: ease-in;
}
@keyframes test {
  50% {
    background: #008080;
  }
}
.test {
  width: 400px;
  animation-delay: 0s;
  animation-name: test;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-direction: reverse;
  animation-iteration-count: 5;
  animation-timing-function: ease-in;
}
@keyframes test {
  50% {
    background: #008080;
  }
}
.test {
  width: 400px;
  animation-delay: 0s;
  animation-name: test;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-direction: reverse;
  animation-iteration-count: 5;
  animation-timing-function: ease-in;
}
@keyframes test {
  50% {
    background: #008080;
  }
}
