.test
  ctr({
    anim: {
      timeline: 'stepTest'
      option: {
        ease: steps(5, start)
      }
    }
  })

ctr('.test', {
  anim: {
    timeline: 'stepTest'
    option: {
      ease: steps(5, start)
    }
  }
})

//string wrap
.test
  ctr({
    anim: {
      timeline: 'stepTest'
      option: {
        ease: 'steps(5, start)'
      }
    }
  })

ctr('.test', {
  anim: {
    timeline: 'stepTest'
    option: {
      ease: 'steps(5, start)'
    }
  }
})


//shorthand
.test
  ctr({
    anim: {
      shorthand: {
        stepTest: default default steps(5, start)
      }
    }
  })


ctr('.test', {
  anim: {
    shorthand: {
      stepTest: default default 'steps(5, start)'
    }
  }
})