.test {
  animation-delay: 0s;
  animation-name: stepTest;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: steps(5, start);
}
.test {
  animation-delay: 0s;
  animation-name: stepTest;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: steps(5, start);
}
.test {
  animation-delay: 0s;
  animation-name: stepTest;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: steps(5, start);
}
.test {
  animation-delay: 0s;
  animation-name: stepTest;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: steps(5, start);
}
.test {
  animation-delay: 0s;
  animation-name: stepTest;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: steps(5, start);
}
.test {
  animation-delay: 0s;
  animation-name: stepTest;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-timing-function: steps(5, start);
}
