.test {
  width: 200px;
}
.test.appendMe {
  font-size: 20px;
}
.test.beerMe {
  font-size: 20px;
}
.test#jack {
  font-size: 20px;
}
.test {
  width: 200px;
}
.test.appendMe {
  font-size: 20px;
}
.test.beerMe {
  font-size: 20px;
}
.test#jack {
  font-size: 20px;
}
