//flex
.test
  ctr({
    grid: {
      waffle: {
        fraction: '3/6'
        cycle: '2'
        gutter: '60px'
      }
    }
  })

ctr('.test', {
  grid: {
    waffle: {
      fraction: '3/6'
      cycle: '2'
      gutter: '60px'
    }
  }
})

//non-flex
.test
  ctr({
    grid: {
      waffle: {
        fraction: '3/6'
        cycle: '2'
        gutter: '60px'
        flex: false
      }
    }
  })

ctr('.test', {
  grid: {
    waffle: {
      fraction: '3/6'
      cycle: '2'
      gutter: '60px'
      flex: false
    }
  }
})


//flex
.test
  ctr({
    grid: {
      // fraction cycle gutter flex
      waffle: '3/6' '2' '60px'
    }
  })

ctr('.test', {
  grid: {
    // fraction cycle gutter flex
    waffle: '3/6' '2' '60px'
  }
})

//non-flex
.test
  ctr({
    grid: {
      // fraction cycle gutter flex
      waffle: '3/6' '2' '60px' false
    }
  })

ctr('.test', {
  grid: {
    // fraction cycle gutter flex
    waffle: '3/6' '2' '60px' false
  }
})
