.test
  ctr({
    grid: {
      waffle: {
        fraction: '2/5'
        cycle: 3
        gutter: 0
        //default value
        // flex: true
      }
    }
  })

ctr('.test', {
  grid: {
    waffle: {
      fraction: '2/5'
      cycle: 3
      gutter: 0
      //default value
      // flex: true
    }
  }
})


.test
  ctr({
    grid: {
      //flex by default
      // fraction cycle gutter flex
      waffle: '2/5' '3' '0' true
    }
  })


ctr('.test', {
  grid: {
    //flex by default
    // fraction cycle gutter flex
    waffle: '2/5' '3' '0' true
  }
})