.test
  ctr({
    width: 200px
    'attr-[data-role="test"]': {
      font-size: 10px
      size: 400px
    }
  })


ctr('.test', {
  width: 200px
  'attr-[data-role="test"]': {
    font-size: 10px
    size: 400px
  }
})
