.test
  ctr({
    width: 200px
    before: {
      content: 'test'
      font-size: 10px
      size: 400px
    }
  })


ctr('.test', {
  width: 200px
  before: {
    content: 'test'
    font-size: 10px
    size: 400px
  }
})
