.test {
  width: 200px;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .test {
    width: 400px;
    height: 400px;
    font-size: 20px;
  }
}
.test {
  width: 200px;
}
@media (min-width: 800px) and (max-width: 1050px) {
  .test {
    width: 400px;
    height: 400px;
    font-size: 20px;
  }
}
