.test-1 {
  width: 200px;
}
.test-1:hover {
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test-2 {
  width: 200px;
}
.test-2:hover {
  height: 400px;
  transition-delay: 0s;
  transition-duration: 10s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test-3 {
  width: 200px;
}
.test-3:hover {
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
