.test
  ctr({
    width: 400px
    anim: {
      preset: 'bounce'
      option: {
        delay: 10s
        duration: 10s
      }
    }
  })


ctr('.test', {
  width: 400px
  anim: {
    preset: 'bounce'
    option: {
      delay: 10s
      duration: 10s
    }
  }
})

