.test {
  width: 400px;
  animation-delay: 0s;
  animation-name: flipOutX;
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  backface-visibility: visible !important;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  to {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
}
.test {
  width: 400px;
  animation-delay: 0s;
  animation-name: flipOutX;
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  backface-visibility: visible !important;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    opacity: 1;
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }
  to {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }
}
