.test {
  width: 400px;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-name: rotateInDownRight;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes rotateInDownRight {
  from {
    opacity: 0;
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
  }
  to {
    opacity: 1;
    transform: none;
    transform-origin: right bottom;
  }
}
.test {
  width: 400px;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-name: rotateInDownRight;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@keyframes rotateInDownRight {
  from {
    opacity: 0;
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
  }
  to {
    opacity: 1;
    transform: none;
    transform-origin: right bottom;
  }
}
