.test
  ctr({
    width: 200px
    hover: {
      option: {
        ease: 'easeOutBack'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  hover: {
    option: {
      ease: 'easeOutBack'
    }
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    hover: {
      option: {
        ease: 'ease-out-back'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  hover: {
    option: {
      ease: 'ease-out-back'
    }
    height: 400px
  }
})