.test
  ctr({
    width: 200px
    hover: {
      shorthand: {
        height: 1s default 'easeInSine'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  hover: {
    shorthand: {
      height: 1s default 'easeInSine'
    }
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    hover: {
      shorthand: {
        height: 1s default 'ease-in-sine'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  hover: {
    shorthand: {
      height: 1s default 'ease-in-sine'
    }
    height: 400px
  }
})