.test
  ctr({
    width: 200px
    state: {
      key: 'hover'
      non: {
        color: red
      }
    }
  })
  

ctr('.test', {
  width: 200px
  state: {
    option: {
      key: 'hover'
    }
    non: {
      color: red
    }
  }
})

.test
  ctr({
    width: 200px
    state: {
      key: 'link'
      non: {
        color: red
      }
    }
  })
  

ctr('.test', {
  width: 200px
  state: {
    option: {
      key: 'link'
    }
    non: {
      color: red
    }
  }
})