.test {
  width: 100px;
  height: 100px;
  background: #808080;
  animation: 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal none running test;
}
@keyframes test {
  25% {
    background: #f00;
  }
  75% {
    background: #00f;
  }
}
.test {
  width: 100px;
  height: 100px;
  background: #808080;
  animation: 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal none running test;
}
@keyframes test {
  25% {
    background: #f00;
  }
  75% {
    background: #00f;
  }
}
