.test
  ctr({
    width: 200px
    component: {
      font-size: 10px
      option: {
        key: 'span'
      }
    }
  })
  
ctr('.test', {
  width: 200px
  component: {
    font-size: 10px
    option: {
      key: 'span'
    }
  }
})