.test
  ctr({
    width: 200px
    hover: {
      on: {
        font-size: 20px
        option: {
          ease: tedious
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    on: {
      font-size: 20px
      option: {
        ease: tedious
      }
    }
  }
})
