.test-1 {
  width: 200px;
  height: 400px;
  background: #f00;
}
.test-2 {
  width: 200px;
  height: 400px;
  background-color: #f00;
}
.TEST-3 {
  WIDTH: 200PX;
  HEIGHT: 400PX;
  BACKGROUND-COLOR: #F00;
}