.test {
  line-height: calc(1rem + 1 * ((100vw - 25rem) / 87.5));
}
@media only screen and (max-width: 400px) {
  .test {
    line-height: 1rem;
  }
}
@media only screen and (min-width: 1800px) {
  .test {
    line-height: 2rem;
  }
}
.test {
  line-height: calc(1rem + 1 * ((100vw - 25rem) / 87.5));
}
@media only screen and (max-width: 400px) {
  .test {
    line-height: 1rem;
  }
}
@media only screen and (min-width: 1800px) {
  .test {
    line-height: 2rem;
  }
}
