.test {
  line-height: calc(1rem + 2 * ((100vw - 26.25rem) / 53.75));
}
@media only screen and (max-width: 420px) {
  .test {
    line-height: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .test {
    line-height: 3rem;
  }
}
.test {
  line-height: calc(1rem + 2 * ((100vw - 20em) / 40));
}
@media only screen and (max-width: 20em) {
  .test {
    line-height: 1rem;
  }
}
@media only screen and (min-width: 60em) {
  .test {
    line-height: 3rem;
  }
}
.test {
  line-height: calc(1em + 2 * ((100vw - 26.25em) / 53.75));
}
@media only screen and (max-width: 420px) {
  .test {
    line-height: 1em;
  }
}
@media only screen and (min-width: 1280px) {
  .test {
    line-height: 3em;
  }
}
.test {
  line-height: calc(1rem + 2 * ((100vw - 26.25rem) / 53.75));
}
@media only screen and (max-width: 420px) {
  .test {
    line-height: 1rem;
  }
}
@media only screen and (min-width: 1280px) {
  .test {
    line-height: 3rem;
  }
}
.test {
  line-height: calc(1rem + 2 * ((100vw - 20em) / 40));
}
@media only screen and (max-width: 20em) {
  .test {
    line-height: 1rem;
  }
}
@media only screen and (min-width: 60em) {
  .test {
    line-height: 3rem;
  }
}
.test {
  line-height: calc(1em + 2 * ((100vw - 26.25em) / 53.75));
}
@media only screen and (max-width: 420px) {
  .test {
    line-height: 1em;
  }
}
@media only screen and (min-width: 1280px) {
  .test {
    line-height: 3em;
  }
}
