.test
  ctr({
    line-height-root: 10px
    line-height: responsive 1.6rem 4.8rem
    line-height-range: 420px 1280px
  })


ctr('.test', {
  line-height-root: 10px
  line-height: responsive 1.6rem 4.8rem
  line-height-range: 420px 1280px
})

