.test
  ctr({
    $$: {
      base: red
      bg: "darken($base$, 20%)"
    }
    background: "$bg$"
    color: darken(red, 20%)
  })

ctr('.test', {
  $$: {
    base: red
    bg: "darken($base$, 20%)"
  }
  background: "$bg$"
  color: darken(red, 20%)
})

