.test
  ctr({
    $$: {
      base: '#fd0cc7'
      bg: "grayscale($base$)"
    }
    background: "$bg$"
    color: grayscale(#fd0cc7)
  })

ctr('.test', {
  $$: {
    base: '#fd0cc7'
    bg: "grayscale($base$)"
  }
  background: "$bg$"
  color: grayscale(#fd0cc7)
})

