.test
  ctr({
    $$: {
      base: '#d62828'
      bg: "invert($base$)"
    }
    background: "$bg$"
    color: invert(#d62828)
  })

ctr('.test', {
  $$: {
    base: '#d62828'
    bg: "invert($base$)"
  }
  background: "$bg$"
  color: invert(#d62828)
})

