.test
  ctr({
    $$: {
      base: red
      bg: "lighten($base$, 20%)"
    }
    background: "$bg$"
    color: lighten(red, 20%)
  })

ctr('.test', {
  $$: {
    base: red
    bg: "lighten($base$, 20%)"
  }
  background: "$bg$"
  color: lighten(red, 20%)
})
