.test
  ctr({
    $$: {
      base: '#c33'
      bg: "saturate($base$, 20%)"
    }
    background: "$bg$"
    color: saturate(#c33, 40%)
  })

ctr('.test', {
  $$: {
    base: '#c33'
    bg: "saturate($base$, 20%)"
  }
  background: "$bg$"
  color: saturate(#c33, 40%)
})

