
ctrSetVariable({
  obj1: {
    height: 200px
  }
  obj2: {
    hover: {
      on: {
        font-size: 20px
      }
      non: {
        font-size: 10px
      }
    }
  }
})

.test
  ctr({
    width: 200px
    merge: '$obj1$' '$obj2$'
  })


ctr('.test', {
  width: 200px
  merge: '$obj1$' '$obj2$'
})
