//yml start
ctr:::setVariable:
  obj:
    width: 200px
    height: 200px
//yml end


.test
  ctr({
    merge: '$obj$'
    comp: {
      'span': {
        merge: '$obj$'
      }
    }
  })


ctr('.test', {
  merge: '$obj$'
  comp: {
    'span': {
      merge: '$obj$'
    }
  }
})

