.test {
  width: 200px;
}
@media not screen and (max-width: 300px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media not screen and (max-width: 300px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (max-width: 300px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen and (max-width: 300px) {
  .test {
    width: 100px;
  }
}
