.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        andCondition: {
          min-width: 200px
          min-height: 200px
          type: {
            media: 'screen'
            condition: 'not'
          }
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      andCondition: {
        min-width: 200px
        min-height: 200px
        type: {
          media: 'screen'
          condition: 'not'
        }
      }
    }
  }
})


.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        andCondition: {
          min-width: 200px
          min-height: 200px
          type: {
            media: 'screen'
            condition: 'only'
          }
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      andCondition: {
        min-width: 200px
        min-height: 200px
        type: {
          media: 'screen'
          condition: 'only'
        }
      }
    }
  }
})

.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        andCondition: {
          min-width: 200px
          min-height: 200px
        }
        type: {
          media: 'screen'
          condition: 'not'
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      andCondition: {
        min-width: 200px
        min-height: 200px
      }
      type: {
        media: 'screen'
        condition: 'not'
      }
    }
  }
})


.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        andCondition: {
          min-width: 200px
          min-height: 200px
        }
        type: {
          media: 'screen'
          condition: 'only'
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      andCondition: {
        min-width: 200px
        min-height: 200px
      }
      type: {
        media: 'screen'
        condition: 'only'
      }
    }
  }
})