.test
  ctr({
    grid: {
      masonry-wrap: {
        flex: true
      }
    }
  })


ctr('.test', {
  grid: {
    masonry-wrap: {
      flex: true
    }
  }
})

.test
  ctr({
    grid: {
      //gutter flex --> default === true
      masonry-wrap: default true
    }
  })

ctr('.test', {
  grid: {
    //gutter flex --> default === true
    masonry-wrap: default true
  }
})
