.test
  ctr({
    grid: {
      masonry-wrap: {
        flex: false
      }
    }
  })


ctr('.test', {
  grid: {
    masonry-wrap: {
      flex: false
    }
  }
})

.test
  ctr({
    grid: {
      //gutter flex --> default === true
      masonry-wrap: default false
    }
  })

ctr('.test', {
  grid: {
    //gutter flex --> default === true
    masonry-wrap: default false
  }
})
