.test
  ctr({
    width: 200px
    comp: {
      span: {
        font-size: 20px
        option: {
          selector: ' '
        }
      }
    }
  })


//This one will have an extra space, oh well.
ctr('.test', {
  width: 200px
  comp: {
    span: {
      font-size: 20px
      option: {
        selector: ' '
      }
    }
  }
})



.test
  ctr({
    width: 200px
    comp: {
      span: {
        font-size: 20px
        option: {
          selector: ''
        }
      }
    }
  })


//This one will have an extra space, oh well.
ctr('.test', {
  width: 200px
  comp: {
    span: {
      font-size: 20px
      option: {
        selector: ''
      }
    }
  }
})