.test {
  width: 200px;
}
.test > .default-box {
  width: 200px;
  height: 200px;
  background: #eee;
}
.test > .large-box {
  width: 500px;
  height: 500px;
  background: #000;
}
.test > .large-box-overwrite {
  width: 1000px;
  height: 1000px;
  background: #eee;
}