.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        'max-width': 800px 80vw
      }
    }
  })
  

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      'max-width': 800px 80vw
    }
  }
})


.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        'max-width': 800px 80vw 80em
      }
    }
  })
  

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      'max-width': 800px 80vw 80em
    }
  }
})