.test {
  width: 200px;
}
@media only screen {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media only screen {
  .test {
    width: 100px;
  }
}
