.test {
  width: 200px;
}
.test:hover {
  color: #000;
  border-radius: 5px;
  transition-delay: 0s;
  border: 5px solid #008080;
  transition-property: color;
  transition-duration: 100000s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  color: #000;
  height: 200px;
  background: #000;
  border-radius: 5px;
  border: 5px solid #008080;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 100000s, 100000s, 100000s;
  transition-property: color, height, background;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  width: 200px;
}
.test:hover {
  color: #000;
  border-radius: 5px;
  transition-delay: 0s;
  border: 5px solid #008080;
  transition-property: color;
  transition-duration: 100000s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  color: #000;
  height: 200px;
  background: #000;
  border-radius: 5px;
  border: 5px solid #008080;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 100000s, 100000s, 100000s;
  transition-property: color, height, background;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
