.test
  ctr({
    width: 200px
    hover: {
      common: {
        color: black
        option: {
          duration: 100000s
        }
      }
      on: {
        height: 200px
        background: black
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    common: {
      color: black
      option: {
        duration: 100000s
      }
    }
    on: {
      height: 200px
      background: black
    }
  }
})
