.test
  ctr({
    width: 200px
    hover: {
      static: {
        border-width: 10px
        border-radius: 5px
      }
      on: {
        height: 200px
        background: black
      }
      non: {
        height: 100px
        background: red
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    static: {
      border-width: 10px
      border-radius: 5px
    }
    on: {
      height: 200px
      background: black
    }
    non: {
      height: 100px
      background: red
    }
  }
})
