.test
  ctr({
    width: 200px
    hover: {
      static: {
        border: 5px solid teal
        border-radius: 5px
      }
      common: {
        color: black
        option: {
          duration: 100000s
        }
      }
      on: {
        height: 200px
        background: black
      }
      non: {
        height: 100px
        background: red
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    static: {
      border: 5px solid teal
      border-radius: 5px
    }
    common: {
      color: black
      option: {
        duration: 100000s
      }
    }
    on: {
      height: 200px
      background: black
    }
    non: {
      height: 100px
      background: red
    }
  }
})
