.test
  ctr({
    width: 200px
    hover: {
      on: {
        height: 200px
        background: black
      }
      non: {
        height: 100px
        background: red
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    on: {
      height: 200px
      background: black
    }
    non: {
      height: 100px
      background: red
    }
  }
})
