.test {
  width: 200px;
}
.test > #beerMe {
  font-size: 10px;
}
.test > .please {
  font-size: 10px;
}
.test > span {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test > #beerMe {
  font-size: 10px;
}
.test > .please {
  font-size: 10px;
}
.test > span {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test > #beerMe {
  font-size: 10px;
}
.test > .please {
  font-size: 10px;
}
.test > span {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test > #beerMe {
  font-size: 10px;
}
.test > .please {
  font-size: 10px;
}
.test > span {
  font-size: 10px;
}
