.test
  ctr({
    width: 200px
    hover: {
      on: {
        before: {
          content: 'on test'
          color: red
          font-size: 20px
        }
      }
      non: {
        before: {
          content: 'non test'
          color: blue
          font-size: 10px
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    on: {
      before: {
        content: 'on test'
        color: red
        font-size: 20px
      }
    }
    non: {
      before: {
        content: 'non test'
        color: blue
        font-size: 10px
      }
    }
  }
})
