.test
  ctr({
    width: 200px
    hover: {
      on: {
        height: 400px

        non: {
          key: ':first-child'
          height: 400px
        }
      }
      non: {
        height: 200px

        non: {
          key: ':first-child'
          height: 200px
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  hover: {
    on: {
      height: 400px

      non: {
        key: ':first-child'
        height: 400px
      }
    }
    non: {
      height: 200px

      non: {
        key: ':first-child'
        height: 200px
      }
    }
  }
})
