.test {
  width: 200px;
}
@media (min-width: 300px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-width: 300px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-width: 300px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-width: 300px) and (max-width: 800px) {
  .test {
    width: 100px;
  }
}
