.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        mixin: {
          between: '300px' '800px'
        }
      }
    }
  })

.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        between: '300px' '800px'
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      mixin: {
        between: '300px' '800px'
      }
    }
  }
})

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      between: '300px' '800px'
    }
  }
})
