.test {
  width: 200px;
}
@media (min-resolution: 2dppx) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-resolution: 2dppx) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-resolution: 2dppx) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-resolution: 2dppx) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-resolution: 3dpi) {
  .test {
    width: 100px;
  }
}
.test {
  width: 200px;
}
@media (min-resolution: 3dpi) {
  .test {
    width: 100px;
  }
}
