.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        andCondition: {
          density: '2'
          above: '300px'
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      andCondition: {
        density: '2'
        above: '300px'
      }
    }
  }
})

.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        andCondition: {
          mixin: {
            density: '2'
            above: '300px'
          }
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      andCondition: {
        mixin: {
          density: '2'
          above: '300px'
        }
      }
    }
  }
})