//min
.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: 'xs'
    }
  })


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: 'xs'
  }
})


//mid
.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: 'md'
    }
  })


ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: 'md'
  }
})


//max
.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: 'hd'
    }
  })

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: 'hd'
  }
})
