.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        mixin: {
          'to-width': '800px'
        }
      }
    }
  })
  
.test
  ctr({
    width: 200px
    media: {
      width: 100px
      query: {
        'to-width': '800px'
      }
    }
  })
  

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      mixin: {
        'to-width': '800px'
      }
    }
  }
})
  

ctr('.test', {
  width: 200px
  media: {
    width: 100px
    query: {
      'to-width': '800px'
    }
  }
})