.test
  ctr({
    width: 200px
    comp: {
      'div': {
        'attribute-[class*="te"]': {
          background: teal
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  comp: {
    'div': {
      'attribute-[class*="te"]': {
        background: teal
      }
    }
  }
})


//bracketltess
.test
  ctr({
    width: 200px
    comp: {
      'div': {
        'attribute-class*="te"': {
          background: teal
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  comp: {
    'div': {
      'attribute-class*="te"': {
        background: teal
      }
    }
  }
})


//override
.test
  ctr({
    width: 200px
    comp: {
      'div': {
        'attribute-class*="te"': {
          background: teal
          option: {
            key: 'class*="artisin"'
          }
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  comp: {
    'div': {
      'attribute-class*="te"': {
        background: teal
        option: {
          key: 'class*="artisin"'
        }
      }
    }
  }
})
