.test
  ctr({
    width: 400px
    height: 400px
    background: red
    hover: {
      on: {
        grid: {
          align: 'right'
        }
      }
      non: {
        grid: {
          align: 'left'
        }
      }
    }
    
    comp: {
      '.aClass': {
        height: 100px
        width: 100px
        background: purple
        first-child: {
          background: teal
        }
      }
    }
  })


ctr('.test', {
  width: 400px
  height: 400px
  background: red
  hover: {
    on: {
      grid: {
        align: 'right'
      }
    }
    non: {
      grid: {
        align: 'left'
      }
    }
  }
  
  comp: {
    '.aClass': {
      height: 100px
      width: 100px
      background: purple
      first-child: {
        background: teal
      }
    }
  }
})