.test {
  width: 200px;
}
@media (min-width: 600px) and (max-width: 800px) {
  .test {
    animation-delay: 0s;
    animation-name: test;
    animation-duration: 0.5s;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
}
@keyframes test {
  50% {
    font-size: 10px;
  }
}
.test {
  width: 200px;
}
@media (min-width: 600px) and (max-width: 800px) {
  .test {
    animation-delay: 0s;
    animation-name: test;
    animation-duration: 0.5s;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
}
@keyframes test {
  50% {
    font-size: 10px;
  }
}
