.test
  ctr({
    width: 200px
    media: {
      'md': {
        'attr-[data-role="test"]': {
          font-size: 10px
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'md': {
      'attr-[data-role="test"]': {
        font-size: 10px
      }
    }
  }
})