.test
  ctr({
    width: 200px
    media: {
      'md': {
        comp: {
          'span': {
            font-size: 10px
          }
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'md': {
      comp: {
        'span': {
          font-size: 10px
        }
      }
    }
  }
})