.test
  ctr({
    width: 200px
    media: {
      'md': {
        before: {
          content: 'test'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'md': {
      before: {
        content: 'test'
      }
    }
  }
})