.test
  ctr({
    width: 200px
    media: {
      'md': {
        grid: {
          column: '1/3'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'md': {
      grid: {
        column: '1/3'
      }
    }
  }
})