.test
  ctr({
    width: 200px
    media: {
      'md': {
        non: {
          key: '.today'
          height: 200px
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'md': {
      non: {
        key: '.today'
        height: 200px
      }
    }
  }
})