.test {
  width: 200px;
}
@media (min-width: 600px) and (max-width: 800px) {
  .test:not(.today) {
    height: 200px;
  }
}
.test {
  width: 200px;
}
@media (min-width: 600px) and (max-width: 800px) {
  .test:not(.today) {
    height: 200px;
  }
}
