.test
  ctr({
    width: 200px
    media: {
      'md': {
        transition: {
          background: black
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  media: {
    'md': {
      transition: {
        background: black
      }
    }
  }
})