.test {
  width: 200px;
  height: 100px;
}
.test {
  width: 500px;
  height: 500px;
}
.test {
  width: 200px;
  height: 500px;
}
.test {
  width: 500px;
  height: 100px;
}
.test {
  height: 500px;
  width: 1000px;
}
.test {
  width: 200px;
  height: 100px;
}
.test {
  width: 500px;
  height: 500px;
}
.test {
  width: 200px;
  height: 500px;
}
.test {
  width: 500px;
  height: 100px;
}
.test {
  height: 500px;
  width: 1000px;
}
