.test
  ctr({
    width: 200px
    transitions: {
      common: {
        option: {
          ease: 'ease-in'
          delay: 1s
        }
      }
      one: {
        option: {
          ease: 'ease-out'
        }
        height: 200px
      }
      two: {
        font-size: 1em
      }
      three: {
        left: 10px
      }
    }
  })


ctr('.test', {
  width: 200px
  transitions: {
    common: {
      option: {
        ease: 'ease-in'
        delay: 1s
      }
    }
    one: {
      option: {
        ease: 'ease-out'
      }
      height: 200px
    }
    two: {
      font-size: 1em
    }
    three: {
      left: 10px
    }
  }
})
