.test {
  left: 10px;
  width: 200px;
  height: 200px;
  font-size: 1em;
  transition-delay: 1s, 0s, 1s;
  transition-duration: 1s, 0.5s, 1s;
  transition-property: height, font-size, left;
  transition-timing-function: ease-out, cubic-bezier(0.42, 0, 0.58, 1), ease-in;
}
.test {
  left: 10px;
  width: 200px;
  height: 200px;
  font-size: 1em;
  transition-delay: 1s, 0s, 1s;
  transition-duration: 1s, 0.5s, 1s;
  transition-property: height, font-size, left;
  transition-timing-function: ease-out, cubic-bezier(0.42, 0, 0.58, 1), ease-in;
}
