.test
  ctr({
    size: 100px
    transition: {
      option: {
        transitionShorthand: true
      }
      transform: scale(2)
    }
  })

ctr('.test', {
  size: 100px
  transition: {
    option: {
      transitionShorthand: true
    }
    transform: scale(2)
  }
})

