.test
  ctr({
    width: 200px
    height: 200px
    background: teal
    hover: {
      preset: 'pop'
    }
  })


ctr('.test', {
  width: 200px
  height: 200px
  background: teal
  hover: {
    preset: 'pop'
  }
})

