.test {
  width: 200px;
  height: 200px;
  background: #008080;
}
.test:hover {
  animation-delay: 0s;
  display: inline-block;
  animation-duration: 1s;
  vertical-align: middle;
  animation-fill-mode: none;
  animation-direction: normal;
  backface-visibility: hidden;
  animation-iteration-count: 1;
  animation-play-state: running;
  -moz-osx-font-smoothing: grayscale;
  animation-name: hvr-wobble-vertical;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  animation-timing-function: ease-in-out;
}
.test:not(:hover) {
  display: inline-block;
  vertical-align: middle;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 0 1px rgba(0,0,0,0);
}
@keyframes hvr-wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
.test {
  width: 200px;
  height: 200px;
  background: #008080;
}
.test:hover {
  animation-delay: 0s;
  display: inline-block;
  animation-duration: 1s;
  vertical-align: middle;
  animation-fill-mode: none;
  animation-direction: normal;
  backface-visibility: hidden;
  animation-iteration-count: 1;
  animation-play-state: running;
  -moz-osx-font-smoothing: grayscale;
  animation-name: hvr-wobble-vertical;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  animation-timing-function: ease-in-out;
}
.test:not(:hover) {
  display: inline-block;
  vertical-align: middle;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 0 1px rgba(0,0,0,0);
}
@keyframes hvr-wobble-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
