.test
  ctr({
    width: 200px
    height: 200px
    background: teal
    hover: {
      common: {
        preset: 'sink'
        option: {
          duration: 1s
        }
      }
      on: {
        opacity: 1
        transform: translateY(15px)
      }
      non: {
        opacity: 0.5
      }
    }
  })


ctr('.test', {
  width: 200px
  height: 200px
  background: teal
  hover: {
    common: {
      preset: 'sink'
      option: {
        duration: 1s
      }
    }
    on: {
      opacity: 1
      transform: translateY(15px)
    }
    non: {
      opacity: 0.5
    }
  }
})
