.test
  ctr({
    width: 200px
    anim: {
      option: {
        name: 'test'
        ease: 'easeOutBack'
      }
      tl: {
        '50': {
          width: 400px
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  anim: {
    option: {
      name: 'test'
      ease: 'easeOutBack'
    }
    tl: {
      '50': {
        width: 400px
      }
    }
  }
})

.test
  ctr({
    width: 200px
    anim: {
      option: {
        name: 'test'
        ease: 'ease-out-back'
      }
      tl: {
        '50': {
          width: 400px
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  anim: {
    option: {
      name: 'test'
      ease: 'ease-out-back'
    }
    tl: {
      '50': {
        width: 400px
      }
    }
  }
})