.test:nth-child(1) {
  width: 200px;
  font-size: 0.841470985px;
}
.test:nth-child(2) {
  width: 200px;
  font-size: 0.909297427px;
}
.test:nth-child(3) {
  width: 200px;
  font-size: 0.141120008px;
}
.test:nth-child(4) {
  width: 200px;
  font-size: -0.756802495px;
}
.test:nth-child(5) {
  width: 200px;
  font-size: -0.958924275px;
}
.test:nth-child(1) {
  width: 200px;
  font-size: 0.841470985px;
}
.test:nth-child(2) {
  width: 200px;
  font-size: 0.909297427px;
}
.test:nth-child(3) {
  width: 200px;
  font-size: 0.141120008px;
}
.test:nth-child(4) {
  width: 200px;
  font-size: -0.756802495px;
}
.test:nth-child(5) {
  width: 200px;
  font-size: -0.958924275px;
}
