.test {
  width: 200px;
}
.test::before {
  font-size: 1em;
  border-radius: 50%;
  content: "before";
}
.test:first-child {
  font-size: 1em;
  border-radius: 50%;
}
.test:hover::before {
  opacity: 0.5;
  font-size: 2em;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: opacity, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:first-child:hover {
  opacity: 0.5;
  font-size: 2em;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: opacity, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  width: 200px;
}
.test::before {
  font-size: 1em;
  border-radius: 50%;
  content: "before";
}
.test:first-child {
  font-size: 1em;
  border-radius: 50%;
}
.test:hover::before {
  opacity: 0.5;
  font-size: 2em;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: opacity, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:first-child:hover {
  opacity: 0.5;
  font-size: 2em;
  transition-delay: 0s, 0s;
  transition-duration: 0.5s, 0.5s;
  transition-property: opacity, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
