//set vars
ctrSetVariable({
  size: 400px
  color: red
})

ctrSetOption({
  hover: {
    duration: 10s
  }
})

ctr('.test-1', {
  size: '$size$'
  color: '$color$'
  hover: {
    background: green
  }
})

//reset
ctrSetReset()

ctr('.test-2', {
  size: '$size$'
  color: '$color$'
  hover: {
    background: green
  }
})



