.test {
  width: 200px;
}
.test:not(p) {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test:not(p) {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test:not(.class) {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test:not(.class) {
  font-size: 10px;
}
