.test
  ctr({
    //suppresses error in test
    option: {
      global: {
        errorSuppress: true
      }
    }
    width: 100px
    non: {
      notOne: {
        key: 'p'
        font-size: 10px
      }
      notTwo: {
        font-size: 20px
        option: {
          key: 'li'
        }
      }
      //remove and warn
      not-span: {
        font-size: 30px
      }
    }
  })
  


ctr('.test', {
  //suppresses error in test
  option: {
    global: {
      errorSuppress: true
    }
  }
  width: 100px
  non: {
    notOne: {
      key: 'p'
      font-size: 10px
    }
    notTwo: {
      font-size: 20px
      option: {
        key: 'li'
      }
    }
    //remove and warn
    not-span: {
      font-size: 30px
    }
  }
})