.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (0.75vw - 0.75vw * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 0.75vw;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (0.75vw - 0.75vw * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 0.75vw;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (0.75vw - 0.75vw * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 0.75vw;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (0.75vw - 0.75vw * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 0.75vw;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (-1.2em - -1.2em * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: -1.2em;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (-1.2em - -1.2em * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: -1.2em;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (-1.2em - -1.2em * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: -1.2em;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (-1.2em - -1.2em * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: -1.2em;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (10% - 10% * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 10%;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (10% - 10% * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 10%;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (10% - 10% * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 10%;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 1 / 3 - (10% - 10% * 1 / 3));
}
.test:nth-child(1n) {
  margin-right: 10%;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
