.test
  ctr({
    grid: {
      column: {
        fraction: '2/6'
        cycle: default
        gutter: default
        flex: default
      }
    }
  })

ctr('.test', {
  grid: {
    column: {
      fraction: '2/6'
      cycle: default
      gutter: default
      flex: default
    }
  }
})

