.test {
  flex: 0 0 auto;
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  clear: none;
  float: left;
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test:nth-child(3n+1) {
  clear: left;
}
.test {
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  clear: none;
  float: left;
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test:nth-child(3n+1) {
  clear: left;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  clear: none;
  float: left;
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test:nth-child(3n+1) {
  clear: left;
}
.test {
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  clear: none;
  float: left;
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test:nth-child(3n+1) {
  clear: left;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  flex: 0 0 auto;
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test {
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  clear: none;
  float: left;
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test:nth-child(3n+1) {
  clear: left;
}
.test {
  width: calc(99.9% * 2 / 5);
}
.test:nth-child(1n) {
  clear: none;
  float: left;
  margin-right: 0;
}
.test:last-child {
  margin-right: 0;
}
.test:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.test:nth-child(3n+1) {
  clear: left;
}
