.test
  ctr({
    grid: {
      column: {
        none: true
      }
    }
  })

ctr('.test', {
  grid: {
    column: {
      none: true
    }
  }
})


.test
  ctr({
    grid: {
      column: none
    }
  })

ctr('.test', {
  grid: {
    column: 'none'
  }
})
