.test
  ctr({
    width: 200px
    components: {
      'span': {
        font-size: 10px
      }
      '#beerMe': {
        width: 300px
      }
      '.please': {
        width: 400px
      }
      random: {
        font-size: 20px
        option: {
          //will be key
          key: 'li'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  comps: {
    'span': {
      font-size: 10px
    }
    '#beerMe': {
      width: 300px
    }
    '.please': {
      width: 400px
    }
    random: {
      font-size: 20px
      option: {
        //will be key
        key: 'li'
      }
    }
  }
})
