.test
  ctr({
    width: 200px
    customComponents: {
      'span': {
        font-size: 10px
      }
      '#beerMe': {
        width: 300px
      }
      '.please': {
        width: 400px
      }
      random: {
        font-size: 20px
        option: {
          //will be key
          key: 'li'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  customComponentsYOLO: {
    common: {
      opacity: 1
    }
    'span': {
      font-size: 10px
    }
    '#beerMe': {
      width: 300px
    }
    '.please': true
    random: {
      font-size: 20px
      option: {
        //will be key
        key: 'li'
      }
    }
  }
})


.test
  ctr({
    width: 200px
    customComps: {
      'span': {
        font-size: 10px
      }
      '#beerMe': {
        width: 300px
      }
      '.please': {
        width: 400px
      }
      random: {
        font-size: 20px
        option: {
          //will be key
          key: 'li'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  customCompsYOLO: {
    common: {
      opacity: 1
    }
    'span': {
      font-size: 10px
    }
    '#beerMe': {
      width: 300px
    }
    '.please': true
    random: {
      font-size: 20px
      option: {
        //will be key
        key: 'li'
      }
    }
  }
})
