.test {
  width: 200px;
  font-size: "$var-not-found$";
}
.test {
  width: 200px;
  font-size: "$var-not-found$";
}
.test {
  width: 200px;
  font-size: "$var-not-found$";
}
.test {
  width: 200px;
  font-size: "$var-not-found$";
}
.test {
  width: 200px;
  font-size: "$var-not-found$";
}
.test {
  width: 200px;
  font-size: "$var-not-found$";
}
.test {
  width: 200px;
  font-size: "$var-not-found$";
}
.test {
  width: 200px;
  font-size: "$var-not-found$";
}
