.test
  ctr({
    $$: {
      color: red
      colorB: blue
    }
    color: $color$
    background: red
    before: {
      color: $colorB$
      background: blue
    }
  })

ctr('.test', {
  $$: {
    color: red
    colorB: blue
  }
  color: $color$
  background: red
  before: {
    color: $colorB$
    background: blue
  }
})