.test
  ctr({
    width: 200px
    hover: {
      first-child: {
        font-size: 10px
      }
    }
  })


ctr('.test', {
  width: 200px
  hover: {
    first-child: {
      font-size: 10px
    }
  }
})

