.test
  ctr({
    font-size: responsive
    min-font-size: 10px
    max-font-size: 30px
    min-font-size-range: 300px
    max-font-size-range: 900px
  })


ctr('.test', {
  font-size: responsive
  min-font-size: 10px
  max-font-size: 30px
  min-font-size-range: 300px
  max-font-size-range: 900px
})
