.test {
  font-size: calc(1em + 2 * ((100vw - 12.5em) / 87.5));
}
@media only screen and (max-width: 200px) {
  .test {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1600px) {
  .test {
    font-size: 3em;
  }
}
.test {
  font-size: calc(1em + 2 * ((100vw - 12.5em) / 87.5));
}
@media only screen and (max-width: 200px) {
  .test {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1600px) {
  .test {
    font-size: 3em;
  }
}
