ctrSetOption({
  type: {
    rootSize: 18px
    fontSize: {
      minSize: 1em
      maxSize: 3em
      minWidth: 300px
      maxWidth: 900px
    }
  }
})


.test
  ctr({
    width: 200px
    font-size: responsive
    'comp-span': {
      font-size: responsive
    }
  })

ctr('.test', {
  width: 200px
  font-size: responsive
  'comp-span': {
    font-size: responsive
  }
})
