.test
  ctr({
    font-size: responsive 1rem 3rem
    font-size-range: 420px 1280px
  })

.test
  ctr({
    font-size: responsive 1rem 3rem
    font-size-range: 20em 60em
  })

.test
  ctr({
    font-size: responsive 1em 3em
    font-size-range: 420px 1280px
  })

ctr('.test', {
  font-size: responsive 1rem 3rem
  font-size-range: 420px 1280px
})

ctr('.test', {
  font-size: responsive 1rem 3rem
  font-size-range: 20em 60em
})

ctr('.test', {
  font-size: responsive 1em 3em
  font-size-range: 420px 1280px
})
