.test {
  font-size: calc(1.6rem + 3.2 * ((100vw - 42rem) / 86));
}
@media only screen and (max-width: 420px) {
  .test {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .test {
    font-size: 4.8rem;
  }
}
.test {
  font-size: calc(1.6rem + 3.2 * ((100vw - 42rem) / 86));
}
@media only screen and (max-width: 420px) {
  .test {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1280px) {
  .test {
    font-size: 4.8rem;
  }
}
