.test
  ctr({
    width: 200px
    clearfix: true
  })

ctr('.test', {
  width: 200px
  clearfix: true
})

.test
  ctr({
    width: 200px
    clearfix: true
    comp: {
      '.clear': {
        clearfix: true
        first-child: {
          clearfix: true
        }
      }
    }
  })

ctr('.test', {
  width: 200px
  clearfix: true
  comp: {
    '.clear': {
      clearfix: true
      first-child: {
        clearfix: true
      }
    }
  }
})