.test {
  width: 200px;
}
.test * {
  background: rgba(0,0,255,0.1);
}
.test {
  width: 200px;
}
.test * {
  background: rgba(0,0,255,0.1);
}
.test {
  width: 200px;
}
.test * {
  background: rgba(0,128,128,0.1);
}
.test {
  width: 200px;
}
.test * {
  background: rgba(0,128,128,0.1);
}
