.test
  ctr({
    width: 200px
    edit: true
  })

ctr('.test', {
  width: 200px
  edit: true
})

.test
  ctr({
    width: 200px
    edit: alpha(teal, 0.1)
  })

ctr('.test', {
  width: 200px
  edit: alpha(teal, 0.1)
})
