.test {
  width: 200px;
  height: 300px;
  font-size: 2rem;
  border-width: 4px;
  transition-delay: 0s, 0.25s, 0s;
  transition-duration: 1s, 0.5s, 0.5s;
  transition-property: border-width, font-size, height;
  transition-timing-function: ease-in, ease-out, ease-in;
}
.test {
  width: 200px;
  height: 300px;
  font-size: 2rem;
  border-width: 4px;
  transition-delay: 0s, 0.25s, 0s;
  transition-duration: 1s, 0.5s, 0.5s;
  transition-property: border-width, font-size, height;
  transition-timing-function: ease-in, ease-out, ease-in;
}
