.test {
  width: 200px;
  transition-delay: 0s, 0.25s;
  transition-duration: 1s, 0.5s;
  transition-property: background, font-size;
  transition-timing-function: ease-in, ease-out;
}
.test {
  width: 200px;
  transition-delay: 0s, 0.25s;
  transition-duration: 1s, 0.5s;
  transition-property: background, font-size;
  transition-timing-function: ease-in, ease-out;
}
