.test {
  width: 600px;
  position: relative;
  filter: brightness(0.222) contrast(0.666) grayscale(50%) saturate(1.3);
}
.test img {
  z-index: 1;
  width: 100%;
}
.test::before {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
}
.test::after {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: screen;
  background: rgba(243,106,188,0.3);
}
.test {
  width: 600px;
  position: relative;
  filter: brightness(0.222) contrast(0.666) grayscale(50%) saturate(1.3);
}
.test img {
  z-index: 1;
  width: 100%;
}
.test::before {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
}
.test::after {
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: screen;
  background: rgba(243,106,188,0.3);
}
