.test
  ctr({
    width: 600px
    filter: {
      preset: '1977'
      //remove
      brightness: false
      //modify
      contrast: 0.888
      //new
      grayscale: 50%
    }
  })

ctr('.test', {
  width: 600px
  filter: {
    preset: '1977'
    //remove
    brightness: false
    //modify
    contrast: 0.888
    //new
    grayscale: 50%
  }
})
