.test
  ctr({
    width: 600px
    filter: {
      preset: '1977'
      //modify
      brightness: 0.222
      contrast: 0.666
      //new
      grayscale: 50%
    }
  })

ctr('.test', {
  width: 600px
  filter: {
    preset: '1977'
    //modify
    brightness: 0.222
    contrast: 0.666
    //new
    grayscale: 50%
  }
})
