.test {
  width: 200px;
  height: 200px;
  font-size: 20px;
}
.test > p {
  font-size: 10px;
}
.test > span {
  font-size: 100;
}
.test {
  width: 200px;
  height: 200px;
  font-size: 20px;
}
.test > p {
  font-size: 10px;
}
.test > span {
  font-size: 100;
}
