.test {
  width: 200px;
  height: 200px;
  background: #ff0;
  font-weight: bold;
  font-family: 'Ubuntu', Georgia, Serif;
}
.test {
  width: 200px;
  height: 200px;
  background: #ff0;
  font-weight: bold;
  font-family: 'Ubuntu', Georgia, Serif;
}

