ctrSetClass('$buttonMulti', {
  width: 200px
  height: 200px
  background: #008000
})

ctrSetClass('$boldFontMulti', {
  font-weight: bold
  font-family: "'Ubuntu', Georgia, Serif"
})

.test
  ctr({
    //apply both
    extend: '$buttonMulti' '$boldFontMulti'
  })


ctr('.test', {
  //apply both
  extend: '$buttonMulti' '$boldFontMulti'
})

