.test
  ctr({
    width: 200px
    grid: {
      center: 'hd'
    }
  })


ctr('.test', {
  width: 200px
  grid: {
    center: 'hd'
  }
})

.test
  ctr({
    width: 200px
    grid: {
      center: 'sm'
    }
  })


ctr('.test', {
  width: 200px
  grid: {
    center: 'sm'
  }
})


//obj
.test
  ctr({
    width: 200px
    grid: {
      center: {
        max: 'hd'
      }
    }
  })


ctr('.test', {
  width: 200px
  grid: {
    center: {
      max: 'hd'
    }
  }
})

.test
  ctr({
    width: 200px
    grid: {
      center: {
        max: 'sm'
      }
    }
  })


ctr('.test', {
  width: 200px
  grid: {
    center: {
      max: 'sm'
    }
  }
})