.test
  ctr({
    width: 200px
    grid: {
      //column
      container: true
    }
  })

ctr('.test', {
  width: 200px
  grid: {
    //column
    container: true
  }
})

.test
  ctr({
    width: 200px
    grid: {
      container: 'row'
    }
  })

ctr('.test', {
  width: 200px
  grid: {
    container: 'row'
  }
})

.test
  ctr({
    width: 200px
    grid: {
      container: 'column'
    }
  })

ctr('.test', {
  width: 200px
  grid: {
    container: 'column'
  }
})
