.test
  ctr({
    width: 200px
    component: {
      'div': {
        attribute: {
          key: '[data-role="test"]'
          width: 300px

          non: {
            key: '.today'
            font-size: 10px
          }
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  component: {
    'div': {
      attribute: {
        key: '[data-role="test"]'
        width: 300px

        non: {
          key: '.today'
          font-size: 10px
        }
      }
    }
  }
})
