.test {
  width: 200px;
}
.test > div[data-role="test"] {
  width: 300px;
}
.test > div[data-role="test"]:not(.today) {
  font-size: 10px;
}
.test {
  width: 200px;
}
.test > div[data-role="test"] {
  width: 300px;
}
.test > div[data-role="test"]:not(.today) {
  font-size: 10px;
}