.test
  ctr({
    width: 200px
    comp: {
      span: {
        hover: {
          on: {
            font-size: 10px
          }
          non: {
            font-size: 5px
          }
          common: {
            option: {
              attachTo: 0
              global: true
            }
          }
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  comp: {
    span: {
      hover: {
        on: {
          font-size: 10px
        }
        non: {
          font-size: 5px
        }
        common: {
          option: {
            attachTo: 0
            global: true
          }
        }
      }
    }
  }
})

