.test
  ctr({
    width: 200px
    comp: {
      span: {
        font-size: 20px
        hover: {
          font-size: 10px
          //add trans to this component level
          option: {
            global: 'root'
          }
        }
        comp: {
          p: {
            font-size: 20px
            hover: {
              color: green
              option: {
                global: 'root'
              }
            }
          }
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  comp: {
    span: {
      font-size: 20px
      hover: {
        font-size: 10px
        //add trans to this component level
        option: {
          global: 'root'
        }
      }
      comp: {
        p: {
          font-size: 20px
          hover: {
            color: green
            option: {
              global: 'root'
            }
          }
        }
      }
    }
  }
})

