.test
  ctr({
    width: 200px
    hover: {
      background: green
      option: {
        global: true
      }
    }
  })



ctr('.test', {
  width: 200px
  hover: {
    background: green
    option: {
      global: true
    }
  }
})
