ctrSetOption({
  global: {
    transitionShorthand: true
  }
})

.test
  ctr({
    size: 100px
    hover: {
      option: {
        duration: 10s
        ease: ease-out
        delay: 2s
      }
      on: {
        transform: scale(2)
        background: red
      }
      non: {
        transform: scale(1)
        background: blue
      }
    }
  })

ctr('.test', {
  size: 100px
  hover: {
    option: {
      duration: 10s
      ease: ease-out
      delay: 2s
    }
    on: {
      transform: scale(2)
      background: red
    }
    non: {
      transform: scale(1)
      background: blue
    }
  }
})

