.test
  ctr({
    size: 100px
    hover: {
      option: {
        transitionShorthand: true
      }
      on: {
        transform: scale(2)
        background: red
      }
      non: {
        transform: scale(1)
        background: blue
      }
    }
  })

ctr('.test', {
  size: 100px
  hover: {
    option: {
      transitionShorthand: true
    }
    on: {
      transform: scale(2)
      background: red
    }
    non: {
      transform: scale(1)
      background: blue
    }
  }
})

