//yml start
ctr:::setOption: {
  global: {
    transitionShorthand: true
  }
}
//yml end

.test
  ctr({
    size: 100px
    states: {
      hover: {
        on: {
          background: red
        }
        non: {
          background: green
        }
      }
      active: {
        //auto gen
        color: red
      }
    }
  })

ctr('.test', {
  size: 100px
  states: {
    hover: {
      on: {
        background: red
      }
      non: {
        background: green
      }
    }
    active: {
      //auto gen
      color: red
    }
  }
})


