.test {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, 0);
}
.test {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, 0);
}
