.test
  ctr({
    width: 200px
    align: 'bottom'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'bottom'
})


.test
  ctr({
    width: 200px
    align: 'bottom-center'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'bottom-center'
})


.test
  ctr({
    width: 200px
    align: 'bc'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'bc'
})
