.test
  ctr({
    width: 200px
    align: 'bottom-left'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'bottom-left'
})


.test
  ctr({
    width: 200px
    align: 'bl'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'bl'
})
