.test
  ctr({
    width: 200px
    align: 'center'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'center'
})


.test
  ctr({
    width: 200px
    align: 'middle'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'middle'
})


.test
  ctr({
    width: 200px
    align: true
  })


ctr('.test', {
  width: 200px
  alignSelf: true
})