.test {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.test {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.test {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.test {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.test {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.test {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
}
