.test
  ctr({
    width: 200px
    align: 'horizontal'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'horizontal'
})


.test
  ctr({
    width: 200px
    align: 'hr'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'hr'
})
