.test
  ctr({
    width: 200px
    align: 'left'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'left'
})

.test
  ctr({
    width: 200px
    align: 'center-left'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'center-left'
})
