.test
  ctr({
    width: 200px
    align: 'top-right'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'top-right'
})


.test
  ctr({
    width: 200px
    align: 'tr'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'tr'
})
