.test {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(0, 0);
}
.test {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(0, 0);
}
.test {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(0, 0);
}
.test {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 200px;
  position: absolute;
  transform: translate(0, 0);
}
