.test
  ctr({
    width: 200px
    align: 'top'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'top'
})


.test
  ctr({
    width: 200px
    align: 'top-center'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'top-center'
})

.test
  ctr({
    width: 200px
    align: 'tc'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'tc'
})
