.test
  ctr({
    width: 200px
    align: 'vertical'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'vertical'
})


.test
  ctr({
    width: 200px
    align: 'vr'
  })


ctr('.test', {
  width: 200px
  alignSelf: 'vr'
})
