.test {
  background: #000;
}
.test:hover {
  width: 200px;
  height: 200px;
  transition-delay: 1s, 1s;
  transition-duration: 1s, 1s;
  transition-property: height, width;
  transition-timing-function: ease-in, ease-in;
}