.test
  ctr({
    width: 200px
    anim: {
      name: 'test'
      tl: {
        '50': {
          color: red
          align: 'center'
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  anim: {
    name: 'test'
    tl: {
      '50': {
        color: red
        align: 'center'
      }
    }
  }
})