.test {
  width: 200px;
}
.test[data-role="test"] {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  font-size: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.test {
  width: 200px;
}
.test[data-role="test"] {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  font-size: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}
