.test
  ctr({
    width: 200px
    'attr-[data-role="test"]': {
      font-size: 10px
      align: 'center'
    }
  })


ctr('.test', {
  width: 200px
  'attr-[data-role="test"]': {
    font-size: 10px
    align: 'center'
  }
})
