.test
  ctr({
    width: 200px
    before: {
      content: 'test'
      font-size: 10px
      align: 'center'
    }
  })


ctr('.test', {
  width: 200px
  before: {
    content: 'test'
    font-size: 10px
    align: 'center'
  }
})
