.test
  ctr({
    width: 200px
    non: {
      key: '.today'
      font-size: 10px
      align: 'center'
    }
  })


ctr('.test', {
  width: 200px
  non: {
    key: '.today'
    font-size: 10px
    align: 'center'
  }
})
