.test {
  width: 200px;
}
.test:hover {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  font-size: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
  transition-property: top, right, bottom, left, transform, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  font-size: 10px;
  position: absolute;
  transform: translate(-50%, 0);
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
  transition-property: top, right, bottom, left, transform, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test {
  width: 200px;
}
.test:hover {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  font-size: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
  transition-property: top, right, bottom, left, transform, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  font-size: 10px;
  position: absolute;
  transform: translate(-50%, 0);
  transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
  transition-duration: 0.5s, 0.5s, 0.5s, 0.5s, 0.5s, 0.5s;
  transition-property: top, right, bottom, left, transform, font-size;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
