.test
  ctr({
    width: 200px
    transition: {
      background: black
      align: 'center'
    }
  })


ctr('.test', {
  width: 200px
  transition: {
    background: black
    align: 'center'
  }
})
