.test
  ctr({
    width: 200px
    comp: {
      'div': {
        attr: {
          'te': {
            height: 200px
          }
          'artisin': {
            height: 400px
          }
          global: {
            font-size: 20px
            option: {
              key: 'class*'
            }
          }
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  comp: {
    'div': {
      attr: {
        'te': {
          height: 200px
        }
        'artisin': {
          height: 400px
        }
        global: {
          font-size: 20px
          option: {
            key: 'class*'
          }
        }
      }
    }
  }
})

.test
  ctr({
    width: 200px
    comp: {
      'div': {
        attr: {
          'te': {
            height: 200px
          }
          'artisin': {
            height: 400px
          }
          common: {
            font-size: 20px
            option: {
              key: 'class*'
            }
          }
        }
      }
    }
  })



ctr('.test', {
  width: 200px
  comp: {
    'div': {
      attr: {
        'te': {
          height: 200px
        }
        'artisin': {
          height: 400px
        }
        common: {
          font-size: 20px
          option: {
            key: 'class*'
          }
        }
      }
    }
  }
})

