.test
  ctr({
    height: 200px
    'media--sm': {
      width: 100px
    }
    'media--lg': {
      width: 300px
    }
  })


ctr('.test', {
  height: 200px
  'media--sm': {
    width: 100px
  }
  'media--lg': {
    width: 300px
  }
})
