.test
  ctr({
    width: 200px
    hover: {
      common: {
        duration: 1s
        delay: 20s
        ease: ease-out
        option: {
          //priority
          delay: 1s
        }
      }
      on: {
        height: 300px
      }
      non: {
        height: 200px
      }
    }
  })


ctr('.test', {
  width: 200px
  hover: {
    common: {
      duration: 1s
      delay: 20s
      ease: ease-out
      option: {
        //priority
        delay: 1s
      }
    }
    on: {
      height: 300px
    }
    non: {
      height: 200px
    }
  }
})