.test {
  width: 200px;
}
.test:hover {
  height: 300px;
  transition-delay: 1s;
  transition-duration: 1s;
  transition-property: height;
  transition-timing-function: ease-out;
}
.test:not(:hover) {
  height: 200px;
  transition-delay: 1s;
  transition-duration: 1s;
  transition-property: height;
  transition-timing-function: ease-out;
}
.test {
  width: 200px;
}
.test:hover {
  height: 300px;
  transition-delay: 1s;
  transition-duration: 1s;
  transition-property: height;
  transition-timing-function: ease-out;
}
.test:not(:hover) {
  height: 200px;
  transition-delay: 1s;
  transition-duration: 1s;
  transition-property: height;
  transition-timing-function: ease-out;
}
