//[attribute] Selector
.test
  ctr({
    width: 200px
    component: {
      'a': {
        attr: {
          key: '[target]'
          font-size: 10px
        }
      }
    }
  })

//[attribute="value"] Selector
.test
  ctr({
    width: 200px
    component: {
      'a': {
        attr: {
          key: '[target="_blank"]'
          font-size: 10px
        }
      }
    }
  })

//[attribute~="value"] Selector
.test
  ctr({
    width: 200px
    component: {
      'div': {
        attr: {
          key: '[title~="test"]'
          font-size: 10px
        }
      }
    }
  })

//[attribute|="value"] Selector
.test
  ctr({
    width: 200px
    component: {
      'div': {
        attr: {
          key: '[class|="test"]'
          font-size: 10px
        }
      }
    }
  })

//[attribute^="value"] Selector
.test
  ctr({
    width: 200px
    component: {
      'div': {
        attr: {
          key: '[class^="test"]'
          font-size: 10px
        }
      }
    }
  })

//[attribute$="value"] Selector
.test
  ctr({
    width: 200px
    component: {
      'div': {
        attr: {
          key: '[class$="test"]'
          font-size: 10px
        }
      }
    }
  })

//[attribute*="value"] Selector
.test
  ctr({
    width: 200px
    component: {
      'div': {
        attr: {
          key: '[class*="te"]'
          font-size: 10px
        }
      }
    }
  })

//Styling Forms
.test
  ctr({
    width: 200px
    component: {
      'input': {
        attr: {
          key: '[type="text"]'
          font-size: 10px
        }
      }
    }
  })



//[attribute] Selector
ctr('.test', {
  width: 200px
  component: {
    'a': {
      attr: {
        key: '[target]'
        font-size: 10px
      }
    }
  }
})

//[attribute="value"] Selector
ctr('.test', {
  width: 200px
  component: {
    'a': {
      attr: {
        key: '[target="_blank"]'
        font-size: 10px
      }
    }
  }
})

//[attribute~="value"] Selector
ctr('.test', {
  width: 200px
  component: {
    'div': {
      attr: {
        key: '[title~="test"]'
        font-size: 10px
      }
    }
  }
})

//[attribute|="value"] Selector
ctr('.test', {
  width: 200px
  component: {
    'div': {
      attr: {
        key: '[class|="test"]'
        font-size: 10px
      }
    }
  }
})

//[attribute^="value"] Selector
ctr('.test', {
  width: 200px
  component: {
    'div': {
      attr: {
        key: '[class^="test"]'
        font-size: 10px
      }
    }
  }
})

//[attribute$="value"] Selector
ctr('.test', {
  width: 200px
  component: {
    'div': {
      attr: {
        key: '[class$="test"]'
        font-size: 10px
      }
    }
  }
})

//[attribute*="value"] Selector
ctr('.test', {
  width: 200px
  component: {
    'div': {
      attr: {
        key: '[class*="te"]'
        font-size: 10px
      }
    }
  }
})

//Styling Forms
ctr('.test', {
  width: 200px
  component: {
    'input': {
      attr: {
        key: '[type="text"]'
        font-size: 10px
      }
    }
  }
})