.test
  ctr({
    width: 200px
    anim: {
      name: 'test'
      tl: {
        '50': {
          color: red
          transform: {
            translateX: 10px
            translateY: 20px
            scaleX: 90deg
          }
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  anim: {
    name: 'test'
    tl: {
      '50': {
        color: red
        transform: {
          translateX: 10px
          translateY: 20px
          scaleX: 90deg
        }
      }
    }
  }
})