.test
  ctr({
    width: 200px
    'attr-[data-role="test"]': {
      font-size: 10px
      transform: {
        translateX: 10px
        translateY: 20px
        scaleX: 90deg
      }
    }
  })


ctr('.test', {
  width: 200px
  'attr-[data-role="test"]': {
    font-size: 10px
    transform: {
      translateX: 10px
      translateY: 20px
      scaleX: 90deg
    }
  }
})
