.test {
  width: 200px;
}
.test > span {
  font-size: 10px;
  transform: translateX(10px) translateY(20px) scaleX(90deg);
}
.test {
  width: 200px;
}
.test > span {
  font-size: 10px;
  transform: translateX(10px) translateY(20px) scaleX(90deg);
}
