.test {
  width: 200px;
}
.test::before {
  font-size: 10px;
  content: "test";
  transform: translateX(10px) translateY(20px) scaleX(90deg);
}
.test {
  width: 200px;
}
.test::before {
  font-size: 10px;
  content: "test";
  transform: translateX(10px) translateY(20px) scaleX(90deg);
}
