.test
  ctr({
    width: 200px
    hover: {
      on: {
        font-size: 20px
        transform: {
          translateX: 10px
          translateY: 20px
          scaleX: 90deg
        }
      }
      non: {
        font-size: 20px
        transform: {
          translateX: 0px
          translateY: 0px
          scaleX: 0deg
        }
      }
    }
  })


ctr('.test', {
  width: 200px
  hover: {
    on: {
      font-size: 20px
      transform: {
        translateX: 10px
        translateY: 20px
        scaleX: 90deg
      }
    }
    non: {
      font-size: 20px
      transform: {
        translateX: 0px
        translateY: 0px
        scaleX: 0deg
      }
    }
  }
})
