.test {
  color: #000;
  width: 500px;
  height: 500px;
  font-size: 1em;
  background: #00f;
}
.test:hover {
  color: #00f;
  background: #f00;
  transition-delay: 0s, 0s;
  transition-duration: 10s, 10s;
  transition-property: color, background;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}
.test:not(:hover) {
  transition-delay: 0s, 0s;
  transition-duration: 10s, 10s;
  transition-property: color, background;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1), cubic-bezier(0.42, 0, 0.58, 1);
}