.test
  ctr({
    width: 200px
    trans: {
      option: {
        ease: 'easeInQuint'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  trans: {
    option: {
      ease: 'easeInQuint'
    }
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    trans: {
      option: {
        ease: 'ease-in-quint'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  trans: {
    option: {
      ease: 'ease-in-quint'
    }
    height: 400px
  }
})