.test
  ctr({
    width: 200px
    trans: {
      option: {
        ease: 'easeInOutCirc'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  trans: {
    option: {
      ease: 'easeInOutCirc'
    }
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    trans: {
      option: {
        ease: 'ease-in-out-circ'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  trans: {
    option: {
      ease: 'ease-in-out-circ'
    }
    height: 400px
  }
})