.test
  ctr({
    width: 200px
    trans: {
      option: {
        ease: 'easeOutCubic'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  trans: {
    option: {
      ease: 'easeOutCubic'
    }
    height: 400px
  }
})

.test
  ctr({
    width: 200px
    trans: {
      option: {
        ease: 'ease-out-cubic'
      }
      height: 400px
    }
  })

ctr('.test', {
  width: 200px
  trans: {
    option: {
      ease: 'ease-out-cubic'
    }
    height: 400px
  }
})