.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
