.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
