.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.test {
  width: 200px;
  height: 400px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
