.test
  ctr({
    width: 200px
    transition: {
      font-size: 20px
      option: {
        duration: 2s
      }
    }
  })


ctr('.test', {
  width: 200px
  transition: {
    font-size: 20px
    option: {
      duration: 2s
    }
  }
})
