.test-1 {
  color: #f00;
  width: 200px;
  height: 400px;
}
.TEST-2 {
  COLOR: #F00;
  WIDTH: 200PX;
  HEIGHT: 400PX;
}
.TEST-3 {
  COLOR: #F00;
  WIDTH: 200PX;
  HEIGHT: 400PX;
}
.test-4 {
  color: #f00;
  width: 200px;
  height: 400px;
}
