.test
  ctr({
    width: 400px
    hover: {
      font-size: 10px
      'not': {
        key: ':first-child'
        font-size: 20px
      }
    }
  })



ctr('.test', {
  width: 400px
  hover: {
    font-size: 10px
    'not': {
      key: ':first-child'
      font-size: 20px
    }
  }
})

