.test:hover {
  width: 200px;
  height: 200px;
  background: #008000;
  transition-delay: 420s;
  transition-duration: 10s;
  transition-property: height;
  transition-timing-function: ease-in;
}
.test:not(:hover) {
  width: 200px;
  height: 100px;
  background: #008000;
  transition-delay: 20s;
  transition-duration: 10s;
  transition-property: height;
  transition-timing-function: ease-in;
}
.test:hover {
  width: 200px;
  height: 200px;
  background: #008000;
  transition-delay: 420s;
  transition-duration: 10s;
  transition-property: height;
  transition-timing-function: ease-in;
}
.test:not(:hover) {
  width: 200px;
  height: 100px;
  background: #008000;
  transition-delay: 20s;
  transition-duration: 10s;
  transition-property: height;
  transition-timing-function: ease-in;
}
